<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Applications</key>
	<dict>
		<key>com.dji.pilot</key>
		<dict>
			<key>ApplicationSINF</key>
			<data>
			AAAEIHNpbmYAAAAMZnJtYWdhbWUAAAAUc2NobQAAAABpdHVuAAAA
			AAAAA3BzY2hpAAAADHVzZXKjDnKQAAAADGNyZHTXUD3BAAAADGFz
			ZHQAAAAAAAAADGtleSAAAAAFAAAAGGl2aXYTYyKr37IIGgfndk8g
			tITPAAAAWHJpZ2h2ZUlEAB5IHXBsYXQAAAAFYXZlcgEBAQB0cmFu
			11A9wXNpbmcAAAAAc29uZzhA8450b29sUDUzMW1lZGkAAACAbW9k
			ZQAAAABoaTMyAAAAAgAAAQhuYW1lRHJvbmUgRm9yZW5zaWNzAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAcBwcml23HGf3KocTqH5zxbCsDzS+Ru+W/rvqv/Nnbxz
			/nei8X0FFe0vB7sXxn10joFbsDk1OwdYKPOigXLcbHcpxS+LuDPc
			7dG+ssxDShxRFN9gmCfp0CkqYoj6EyxIE+HrTOtIvxmwcByMg6op
			iGb/J8OSfIlyisK8iQh+JNN8DkaRLqwg/LlRv1WXLK8NPgm5TnZf
			V75nAIZWkDIeiGYESSsIJKH4SnC1iS3uN2LkED2+AQ4uzFpCXoRJ
			qUVaWRQR8QSxymJVYV1/kN2fXXIDGxa/BUo0JHzz0cS02pEhcXgB
			6rFFJmuLybIwtvRzNdF+j/vBrtLjHpmVOsJAKTShdWlEMKZklG6x
			PbF7pv0GSX8vETY6jbwG7BrdbYFd2yGVgMUJ6074yXw3u6B2r+Gn
			wH8TkcE2b1LewkmT+aDUzuLnJV4WiUxQ5AvPBsHus4vG8dvqgDVH
			jwAJZ00c34xUxitPMJyxpZyKqVRGrAR2rCKHa06SH/aX/vjdY5gS
			lkWHApw/6qwT0L4Hu+j1xzfAHWG7Pl5zLkQMJXyDWDEFeM7NbYTV
			45hD1xxZrVJpT6jJW4xCAAAAAAAAAAAAAACIc2lnbmg1d5w2SkZT
			9hLJoqmnpvRb3S1hmR+ZYtd2ac35/4Vyu/ud9Lf042ckzv7wIT0w
			O8UXgLqPksp+xHDvwU6I4odWf+uwEsKH5twIsMubZtI45zJPNwe3
			WklgMUvgdEVVbCHUTORZz7SEk6WFmNtg1LI9/xsHaBDQL7/wfqEN
			CUhx
			</data>
			<key>PlaceholderIcon</key>
			<data>
			iVBORw0KGgoAAAANSUhEUgAAAJgAAACYCAYAAAAYwiAhAAAAAXNS
			R0IArs4c6QAAAAlwSFlzAAAWJQAAFiUBSVIk8AAAABxpRE9UAAAA
			AgAAAAAAAABMAAAAKAAAAEwAAABMAAAONOnBJtAAAA4ASURBVHgB
			7J17bBTHHce3TZMSgm0QD9vUWLxcKVLVRq3aPyr1j6YRAcKjTZNA
			oWnzoEhUTUrjs3kECrahKQ0lVipSwiPQokKg5pEHhJBASU0AyU15
			hEK4s3Nr4zghuMbBPIrATOe7598xd+x6725m93bXGWm0y93t+PB+
			+P6+85vfLJrmYitadvr2voujd+VVRh7Kq4rMyq2or86tDG/MrYy8
			mVMZ2Z9bET7MewN/rZW/1mb0isjFnIows+t9KiOssPw9VjxmExs2
			cZtjffj4LWzAI7VMK2tkWmk0uz2kX9BCeltXb9VK9QZ+fpj3/Voo
			+iY/buTfsVoLNc7i/SGtLHqXxu+Bi7fc2R9V8LvIwNxFkakcnlUc
			kKP8eM0OlIzfX1TPhvyy1nHACN5+jx/0BmRpQ65f4/Ad5TCu0sr1
			qdqcjwc6S4Hi0fv9viEvr7J+em5F5N2cikhnxsCkoFri2HkcsBEP
			73INsOETtjD/QiYob0jv5LDVaqWN07VZbXmKcVA3HA95IzhUL/Ce
			UkgT4VBx3n/hSTbsh9tZ8dgax8IjqRcdAwMZqWBIv8jD6gtaWdMI
			dWRIjjRgsV7IPdUaR8OfjZrBfxXMPWqoV/G4ra4BBtACB5kBGw+j
			pfoaba5eKIlH5pc/uJndklNVX8pNeYcKBZIZo09VPRs88xArumcj
			GzrBXcCCCxnCqN7Be6nG73XmpGRwZW5VQwmf4R2QgULptdx/FU/b
			0wWYczNICo1mx2AqWZdXC+kHtLLTJRmgkv4l3LiP53C1KwXEJgTa
			/ax+VWE29IFXWNG9m10Nj8mgxSEL6dlNX5CnUnkMRdt5qmN8+sSk
			cQVyV9xrXbe74W6+D/81aP5xw38NGfP3rAIW7HBphMzrRk4tDWZS
			+ihj7At5leFn3QQn1Z8l+i83Z5DJ6iX+OdBKBlUs05dqnImU4Enl
			QzmV9UtSveGuf07wX14BLEHJghguAVlI/0Mq7Nh+hqcgZrsOTRqe
			DP5rxOTXDYPvJcAIMmNZKaiQlUVn2wLU3Qdg6L3muUTYyX8NG1dj
			GHy3c2BiWLQ6R7gMLmQ6PFlmxj/3mfqRXpstinDhHP4LC9zIf2EG
			OXS8+zkwK7DE1wMNGWaXs0+P7E6obnoPSVRP5bmsQmbXAnccsCwk
			WUWQujsPNmQ8T5ZOMpab+lCyWnjxz1jgHjp15w0Fm5CdJGt3YInv
			BRoyZPxTaVhb9MLyTypAY4EbS0NFozYxL+TARJiszuP1ZDD+gTL/
			fFkplbVLY+HaKiR56HUqMARc8F9+AQzgJShZsCBb062Iwdi7WcOV
			ikpZfibJf3ktRWGlYPR6XMlULudkeyzUlnVn+LmxX255Qz2kXviO
			yf7Lb4AZSkbl17HEZTDWL1FPZtb6Phfty3Nel/wCmFFgyMMNhUg/
			AhZMyPRL2sJo35sYQ5mzX+ASCwzhv9C9mGSlcGh3RLjM/+nemIIF
			wpPx8uvkxtVrv28AEwoMCTCvJlnt4KL3gwUZr/EX2+ClLQN8Y+7h
			BbnBH/nI7nj+C5Blo5KV4FB1DAxkMPtzmvvHGeP7EKf4Rb3wPeMF
			hl0pihhg3k6ypgohQfbF0g/9nScL6VPigPkl9wW4zPyXn3JgqYAW
			DMj4phFqOZXhE35RMLHAkPxX0AADhL6HLKSfMPga/GJLb27wndtx
			Dc+ksnP/RRs8CDC/pijs1MzfkPGtbwtbemt4VoRSAFTCZDKWmf8K
			KmC+V7JZzd/QeEZ8kl8AowJDPOCE1AvHIAPma8jKmiZpfDNHuW8A
			SyowJMj8nGS1C5P0PsJl4ZS3mK9ml2WN5RoeoeQXwJD/SvZfgMzv
			SVaCyO7oQ8iqOWCRzX4BzHiCTtcGD1IvAzAPV7LaQZPu+76CLKRv
			1ngFxU6/ABYvMOSqlQhYMJKsqcJGkN3ym3pvJ2ND+hsah6vWD4DF
			N3gI2XtAFsQcWCqg+QMyvibJc2DH/AAY/BeeYEgbPEjBeipggNAH
			kB3jHiwc9QNgyQWGBFjQUxR2auZtyPQo92DhVj8AFvdfSSGypwNG
			SvaVSbuY9zyZfhYm31OPYjKD3WyB+3MFS5zYQMk8Bxk25foBMCv/
			Bch6QpLVLkzS+56DLAZY+LyZanjpNSP/xZ8gnWzwAVhPSbISRHZH
			b0HG90p6CSSr74IFbjxBmjZ4UHg0AOtBSVY7uOh9T0FmdVO98np3
			/isGWKIXoV9yTz96BjKvgGT1PcwKDEnB3MqBFY6pYQWj5TrGcBt6
			7CCH8b91Zjh7GX+rG+uZ1y0WuAGZ04AN5Q9TKfnxK+xPm0+xDbui
			Un3l1jD72uTXXN+cQkpmQJaNnd+eAcmkuBDfzazAkBTM6RzYEP6f
			Otw94y3+iFr59p+Gc8YzKdxWMePn8Qf0YRXktqf5f+D1VNejyd2C
			zcuAWRUYugUYwuITz9bJ08VHgILl35ulp2BzwErmH2OD/nyW3Tqb
			P9XHTcg8DZjJBluCC0enc2AA7K9vNCgBbPqif7Js+DAoGLzYyGVR
			lv9SOxu4/Iy7kHkZMKsCQ4LMScDgv3BzjoTPSQPWcfkq+94vdjGE
			XLdDJDYk4yHJxSs+Zfmrz7GCNefchczLgMF/0ROkCSrx6GSSFfAC
			CsAh2+C/ABZB6ypkPDx+dcY7bPBLHK7VbbHuJmReBYz8Fz1BWgSL
			zp18XADC2eOLDsqyZVyPMFs4Oov+q/xfrGDdZzcAA2huQeZZwCw2
			eBBcODqpBPBfMOYq2lPLDhl5NCe/r9XY8F/Dl9Qb/iuuYG4qmVcB
			626BG3A5nQMr5o9EP/T+p9J8Xb5y1Uh1ZMt/IY8H/wXFugkwN5TM
			q4BZFRiSgjkJGOD6zs9fZ+0d/5MGLNL0mZGszYb/QpK1ZNreRP9F
			6iUenQyXXgXMqsCQAHMyyQr/9bMFtdJwYYBteyLe818iXHTOIXMk
			T+YVwPosDLNeC2L9tgX8pvD/wWPQPX9jA+5+2bQjaVl03xZlXVQY
			jF294bgSwJ5eXpfgv/CdB4+V68npGSiu2ZhQ+eGLPmD9Vp6z7QNW
			xoy/csiyCRig+tK8U0bvvzhiJAO/tVxno9Y1s/FLj7DRv3rbst83
			cy+bUPoPZf3OB1+NpxHgl2oPfyIN2NVrnWzcr/mD8jhUZMLxd7q/
			fJ9UR/oEUGFMHL/72E7L8SZubWVjX+1IqRupjC4lU7aslC3AABag
			+smmFrbhSDs71XrFyDl1dl6XvrHpDtDafpl98+Edxs3CDcM5XpNt
			jR+fZ3c+sN0AF+NisfuT1ouyw7Kq1YfjqohwXrOnUXrM/U2XmKFi
			CJkqIXMbMAqFAOv4mSvSvxgVA0CtyNMh1Eyes49dV8D5zneb4/4L
			40K5ZMfF9feH+P9PzlURYR2zREwkZNtzde0sd0VXIlYlZG4CBrjw
			854/KL/8IvsLFa+H36KFaByfWXtMfDvjcygNjYu8mopxP/r0Ivv6
			5JgqUrUHUiGybcqO/yYCpgoyNwGDiV9zRP5fm+wvM/l6zBihMPA0
			OO4+9FHyR9L+MymN6nHx3ShFo6raA8th395w9kaIpJmlCsjcAgye
			q/zt1rRvlNMXINeFnBc8Epae4JOgErINXouUhvyXinGhgqIqqqj2
			+HfLZZb/Yqt5IlYWMjcAg3Jhdth2uVP2vim/Htl6AAD1gq/BzFTF
			RGNfXXN89kj+S3ZcqCL8IcajtIqKag9Elb4rugGsS9GQwkh7dsmf
			TaH2GaomlalQr1XcRHqxrag5maAI81ccUfI1l65/P2Fc+DHZRrNd
			wIVcGNITKqo9pu828V9imKTzTGaXvUuPOgoY1AvFbl5UL9xwsRAQ
			U/7t+5pkOTCuJ6UhX4cZpWwTZ7uqqj2uXO209l8ElnhMF7IvP3qA
			3RE6xpxSMqjXo9taZH+3jlyPRChUALMxmvJ/2Hxe+meR0qj2dcmz
			XWxGkW3IPxattg+PCQvlHDJ4tpTCZa/HDjD0O2YddwQyAIZEquoG
			c451vur1deyP6w6yZen2vxxk855/h4340fa4/0KWHf+iZZvh68bG
			tqmp9HXibBfwqqj22HSiIyX/lQAYFC1VJQNcULFe0w6xPvNOKoUM
			eS9UpapOqEIhJj65nQ36/npjvRJrlpn0glEvG3AhjGHKX1r9nixb
			xvVO+Dpxtgu4VK02YGafkGAVw6HdeZeS9fptN7uVSMEA2e0z6ljO
			wlPKPBnNHlWognjnoVpYBMfjBIZNlO2x2nsAhr2PKhp8nZj/UuG/
			oFao7iVPB48n22ARflDTap7/soOL3reDjAAjJQNklHGXTWE44b/M
			FpDxS5fp8F8IlSei8qEcszr4OszyMC4W0bEmKdtEVVS12tDYfoWV
			rD3L8lcJS0QETppHeDJTJRMBi0P25GElKuZEegLJSlpAloFKvFbl
			ksvRU2eMbWIYH/4LVR+y+S/AKc52oY4qVht21F/IzH9ZwGcKWTJg
			BJmRvlCQI0OWWGVDuKHwI0Iic44pv6oNtmtf+yAh/zV3uXz+K66K
			ilcbKmvbMvdfqUJmBhi9JjOzpPyXikSgCKi4gCwDlXgt/BfAUNGe
			WLI/vsFWVV4tWRVVrDZgVQC1YihGvGmGaAFPqp9LUDKCyeqY6cwS
			4RElOSpb8gKyCInsuYolF1Q10AZb8l8q8mrJqqhiteHMhavK/JcZ
			eICsT2UT06zAwusy6QsAprosR1xAlgWKrle55IINtpgsAC7yX5iU
			yDaoIlQW31mVKqLAEBCYwaHytW4BI8gySV9gJoq/hMqGBWQqVSFA
			ZI+qllzw90SagzbYAggV/itZFR0rMJQMi1ZQ/h8AAP//SYMKZQAA
			EK9JREFU7Z0PcBTVHcdj22mBkOQCgYQMMoDQmc50Ouoo0BanrTr4
			B4RW24HBYivBOLbVMoUCbXEgl1D/MRToQEMSSESgQAOkIyqlYJVA
			khEUiP/KXdIUUEQJEA2GMhBe3/fdveXd3t7e7r63e7eJO/Nm7za3
			m/vzue/v+/u93+5l9JnZQJKNrz3cQPo+cZhklYQsjT6LQmTUsjZy
			7mI3UbksfeFtkn/X38iIKTuUDRzvz1uPKXmav1nWRArurmXPbcg9
			taR273Hp477bep4db/jkHeT6SdvJ7Y/9k1y6LP++Tn/pLMkuP0cK
			qtwdGcng4n/XIAuGk0L2lYXHyISaD6TfXP0Bpv3uNe0DVAXZsPu2
			k6a3P9H/K9v38aHf/as9DALAMPqBv5PwiU9tH0e/w6ZdbWTI3ZEv
			FeAFxLJL58XL5NZNZ0hehbtwAV7LgAE0QJY5t5lkJYEMgAXrz8m+
			DzH7t3dcJN+aVkeG0W+xSrhunvESwbFll/988Bn5xo/rCOAaOnEb
			g02F0oiqCMDWv9Iq+1TJW6cukvw17a6rl23AuJplzn/HFDKEyD0t
			n0u/EeIBoDJDJ2xRBhcgRRgrKmsU/43j23WvnYhRmjnL33R8LL4j
			AEVIBLAAF8/5SOg8/7Pj9dojn3oSHh0BBhXrM6uJ9F/4viFk/ReH
			yMhnWsjHFy47fgOMdqx+8d8k7/bNygF7+YCaUP6HVQe18A2lUeG/
			EGK5KkK5b3tkF0F4k12Kd3vjvxwBxkNl38cOkqzFx+L8mFv+q2J7
			iAGGb7LsgO8acNcWpl4qwlh391Uy6de7NaVR5b927A1rqqhKbS9e
			8s5/OQZMhAyKJWaXAGzennbZL1nc/vA4MNH48G74UZ3jgf3H/Gwn
			+f2qw6Sj839x/8fJhg8/+Zz5Q4CvMtMTVRHZbnnt+06eXsw+x9ov
			kaFV3vgvKcA0yFC+EEw/ANt0pCPmRam6g28fQHuvrYMgfbc7sB/C
			jiqw+OtCmC28dxsL3wiPKvzX5SvdmirCe6nKdre810kC5T4BjEPW
			b85RDTIo2v4TXfy97xVrUWkAGEoLssvxj65lpYBLVbaL6OJF/Qvq
			Ja1gAIwPZJb9qZINXBImkOHeskANEXIBAUIkwjeUUnaBKvL6F9QR
			NUDZBap4R227J/Uv5YDxzLK3AYbsloPA/RdCuexSWnVYm7WA/8Is
			huxyvOMSGV19huRXul9gVQ6YWL5AIa83LKfbPye3PLiVGXv4JITH
			x587KP3SkZXeP3ev5uugYLubPpQ+7kstFzz1X0pDJPdjXy1qcs3k
			S7/DCg+A8kbRol2aenHAUHCVXcSsdPjk7eSb014k2Ca7YHbFS/+l
			HDBAdt2M/eS+pUdk34u03h8h8PFn9pOCCSj81rHsEdV2VN1VFEKh
			VjwrxXEnz/kXgarJLFfp7lO2t5PcivOeTBEpD5Hc7GOd+dBrSubM
			ZN5Qt/Y9euxjMuWJuhi4oDLwXyrCGJ73U9XNmv9C2H2yXP4Li5kV
			r/2XKwrGQ2XWT/eQxdvfVTKR7BYsVo+LTHHfwTbyy7J/kFGT1kfD
			YkS5kD2iyq6q5QdK44b/QunIy/qXqwrGIcuYvpcMX7CPTK18i8G2
			YneY8FG+5RBZvekNywOP93Ise76RLFz5Opk+/0Vm5AsnPM9UC6UI
			+C0MhDGUJTCNpWoR61/8/5SuOWD42pHBrjpw0tJ4eMcpz8Ojawom
			hkuY/i/NPxozsp7YTwZ8dx3JHV9teQz+wQtk8J0bPBwbGVAoQUCl
			uNdCOIRiAS54IxW9ZCKcgEbfVAmvF/fa6fsxZN6bpP+Kk5bGoFUf
			e+q9XFcwDhlrVOQT45hSKmsh1/+ingy9869kKK3vWB0R5UBYkhg/
			rGNeCb7G7sCHDqiQ0T20qJ6gEKpiolyEC+ERBVVu8LmCGb1mzKkO
			X3WK5K/rIAVrqXFPMvKrvDX3ngHGwyXrvkDLNQXshhm7ooBtpYBZ
			G2JouvbGXwtXVrbBiE+c/SqbK8R8odWBiXF4LEClolwgQiXeRgIx
			cvK13q9Er2k4VVT2Hno4ac2Bsbu21dHKVcnJmikZnRjPLQ2REVRJ
			0DxoFa7r71HTh4+Uv/7wafEzTavbYvdqIrjY9km15OuzG0lBzacp
			CXt2IPMMMK5khbObyLB7rMMFCFUABvVS1bDnBpXoDLGiXhyw0U/S
			Ukb1F4Bpk+FM9WgnbOCBnQSGPeK9rIXHYfdGztQx/VZHM7tEj1FV
			T3IDLhyzuGyf1hGb6DXw7chcR6w8GfFfLp8VZEetjB7rqYJhQhyd
			pIFb1ggmPzlkKgBDJqg641MFGzpXoeocILM1sli/+C8A5y1gtMqf
			9731DLDccVWWfZgsYCq7HFRBxY+DBkpMmFs+Wwr+67HXSeG61GSF
			Riplts1TwDCFlDu2kgTGVDDIUAuzYvQtv/kJwiTCI6Zf0m3BDAGm
			nVBXM1OtmL9RwOC//GDwPVUwFFxzpu2iYJVHAItClndbTVLIkJbH
			vMkJQDJ7jIrTvVQCCrgwSxApqkamncyeP/8bEgGcNc/qX2nuvzwF
			DP4rd2JtLGAcMho2zUw/fAd/g+2uUZrAySKqi6IysGE6SD9hbuV1
			Mf81jXbPln8SKax+Adi1lmpkkQPu2MBCIwuRgEsYZpmlTJEVCrF8
			0zsyPCjd9+V9Iea5Il2w1pWLAYjwOOtV3/gvTxUs8+F6AmMvQqW/
			PfjOjXFKJlMDA5hI6VFjSvWCKj26MTBpjqTDimLFPQaAzTvkG//l
			GWCG/ktQLw4ayyzZHOW10oUMYJjTu3+e/MkSTuHENS+gWOh8RZuP
			2KAYB48FXwn/hbPm/eK/PAOM+S86SR1j8A0AQ32MZZbCNJJMiQKA
			ofMUvVxeDMC0cWczQXsNDPzNUzcwxUI4lAnzgBH+i09ws4ltH/gv
			TwGL+C8hgzQCDNsoZAPHV2uZpQxg6EJAARNhyasRaavZyJoSxTYf
			J4ol7jPyvm2+81+eAQb/BWXioTDpmkLGyxeyNTCjVhdvttnr9BBh
			MrztQ//lCWDwX2ifThoeDRQNmaWKGpjhB2bB86TTflCwkWW0GRH9
			Xz4JjxHAiho+c9J+Y3kf1L+s+C8DwKB0qPSjvSedPmyvnwv8mx/9
			FwWsM6NvUWOHZVhoLcv2Y7UJbgv+ywAyhMoRNDx4/aGm0/+Dio/6
			Ob08lA8aDHXq2uE6YKz+RU07zHtS72UAGLwbJshlqvnpBIuj50K/
			YH5pMIwBbO15CtjMxnbbqmRRyTT/ZQCOFdgwMY6MEpDBjzn6cHzm
			tQxfIwWM+S8fNBiKgOWt/OgM7aZobHMLMNS/0GDoxOADQA6YBhmt
			9Bt+AD0BIpPXwBsMfVP/oiegDFz5EclefKwNCtbsJmCRBkNn/guV
			fcDFBy/C9ibT76cTPJh6ReFiV70MhpsBWL1rgNFQCpPu1H/pAeOg
			semj3pJZwn/5pcGQwoXzL4UrXtYjRL7sBmDwXzENhg58WCLAAC2r
			8PcGyChgvjjBIx4ukh0Mv0KzyIatbgAG/xXXYGgTMoRErlr6NYNM
			QSNiuns6XzQYCnCJF4XOLglvBWDL3QLMsMHQBmRmgPHMsieXL8QG
			w1SdmS1mhYa3E8AFD5Zd0rIcdbB5rgAG/xU9wcNKScLoMWaAQdEY
			ZD05s0x3/2UCFwDLCYbmZfSd1TjVDcCY/0rSYGgEFd8mlij04VG8
			D8hwnYsemVnCf6Vrg2ESuBhgZS1TMzIfeeNG1YBZbTDkMBmtrQLG
			YeuJc5Zp22BoAS4AFljSdmNGYfGhfhSwK0ohk5zgBnB2AQNoPal8
			IfqvtCqwUrhQRAVApiMYvlK45lS/DCzKi62Y4DY5wcNIsfTbEpUo
			uGIZrVlm6bTf3aSSnpJME+Ex3U7woHDlLvvAHCwOHoqsfKG1sCqV
			Cma7wdAgs3QCGPxYj5kYT0P/xeAy+AE0YyULV3G+UKqYrgowbYJb
			PMHWACC9YunvOwEMqsYyyx4wMc4aDNPkBA/8cEPO022Gv65nDBct
			UQRD0zXAsooP5fUpauxWApkC/wXYAIpRGLSyjUGG8oVPK/1p02BI
			QyJ+GdcuXFkl4e7CpafyNMBwg9bD9qsCzPIJHibKJgMYh5D9Qq4P
			IeMNhim9wEk0U8xZ0mpLuZiiBcP7Y+DCnX5FDY+qAEzzXw4bDHmo
			VAEYQPNlZokCayqvYMgzRXpNXXHqJ1E41G/PKW15NA6wwOzDAWr2
			u2Qg0/yXiTJxgMzWTkoUXLX0a19OjFPAUtJgiJBI/ZY9M68rVwTD
			XYE/tQXiAMMGGiZXywAm22DIoVMJGIBjmaWPJsZT0mBI4Rr8lzMO
			/FYsYHSCe7UhXNiYXdQwSsrso/7FrmDorMHQLcCY6fdJZpmSBkMe
			EukVwI1+h10fAhPfD3dnP9UyKiFg+EOfooa1MiqGH1dw2mCoAabr
			ZNWHPSf3tcwy3Qqq+ucT9V+eGHwxJPICqcQ6JxheawoX/tiv+NAQ
			ClmnXch4gyGHRGbttAaWDDxAxi5Aks6ZJQqsXlxBmsKF7lNHWaIB
			hNkloc68Jf8dkhQwPKDvzIbf2gVMlf8CmKoyyETApfPEOPyXq1cw
			1KuW5cp8rNeKC5PBlrmW4MKDfrKVfJlW9xtsQYYCq9EVDB1klG4D
			lq6ZpTjB7UqDIVctm1X5OJh0CkZboxvAjGXA8MDsR5tG2z3rW7bB
			kIdVtwGDsqVlyzX8lxsneLilWhQ0CldHdmnraFtw8Qf3m9k4mdbG
			rlpRMtkTPDhcXoRIAAaI2cVVhJ/nS0nXhGjyo/5L6RWkuWo5qcjr
			lCpOyYLhq1ml4cmcF0frvrOaFiQDTEWDoQhYIu+kejuHLOVgRSFT
			eoIHBUura1FQnFTk44DSAUezxgWOoNLvRCF71hQyhf5LdZE1GZSA
			LB1arkX/JdVgKIZD/HyiKhOvh6sk9KyeE8f3CSHXUdP/XELIUGCV
			bDDkCuY1YBzAlE+MIzzKNBhSsHDWD7pNVZUeEilYTkl4KZhwDFSi
			HSPhMt6TsSvoSJzgweHC2q0aGAfJbJ3SiXEA5uQEjyhYrKYVzQ7d
			CIcMNuq5lIXFRJDB+IvZpWr/lUrAUtlybbvBUA8WQphL4RBwIVuU
			NvSJoNJvj5QwonUy+C+JKxiK6oXbXpQozFQsFS3XthoMPQYrCleD
			41KEHh6r91kxdlbTnD6PNHWqaDDkoKUasFRklpYaDFMCVuhCVmnL
			HNtFVKsQWXlcHp27pIqwNnBrxRUOicw61YBB3RhkXp4xjgJrogZD
			ChZ6tJh5px6L+SsXQ2HUa12hc4s1uU+3DrPCgCePGfydmhtyx1Su
			zh1b0eV3wDhkXmWW2hWk+RUMoVZ0oI7Fmv94G437YHWhnytpy40n
			RCX4J8O/Xx0YMLayOHdMxQEKWrcd2FJVojDzZF5klrzBEJcoh1pp
			GaGLdSymVKy2RXu4SsIHcoItxQk7URN81infXHDbukG54yoeDIyr
			rKLK1hwYW2kaRtMRMG1iXJzSUXib+y/8RB/UitWw3MwI6RnX9AJx
			zfTMn6rssvCDBX8MD0o5KKqeQP6E9ZmDvl1104BxlVMpePOp0q2g
			UG2m4O2G4tESxdG88dWtVFHODhxfcw4jb3xNl5nCePE3ZJZuTSch
			PKLAyoujtmpYtP+dlg/OsVESOkt9UytVpqNQJLptN11vpucnrsgp
			Dc/PoRciCQTDN+U/dzpT1edp5Tj/B6kiVsGzGsMjAAAAAElFTkSu
			QmCC
			</data>
			<key>iTunesMetadata</key>
			<data>
			PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4K
			PCFET0NUWVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUvL0RURCBQ
			TElTVCAxLjAvL0VOIiAiaHR0cDovL3d3dy5hcHBsZS5jb20vRFRE
			cy9Qcm9wZXJ0eUxpc3QtMS4wLmR0ZCI+CjxwbGlzdCB2ZXJzaW9u
			PSIxLjAiPgo8ZGljdD4KCTxrZXk+RGV2aWNlQmFzZWRWUFA8L2tl
			eT4KCTxmYWxzZS8+Cgk8a2V5PmFydGlzdE5hbWU8L2tleT4KCTxz
			dHJpbmc+REpJPC9zdHJpbmc+Cgk8a2V5PmJ1bmRsZVZlcnNpb248
			L2tleT4KCTxzdHJpbmc+MjkyMjwvc3RyaW5nPgoJPGtleT5jb20u
			YXBwbGUuaVR1bmVzU3RvcmUuZG93bmxvYWRJbmZvPC9rZXk+Cgk8
			ZGljdD4KCQk8a2V5PmFjY291bnRJbmZvPC9rZXk+CgkJPGRpY3Q+
			CgkJCTxrZXk+QWx0RFNJRDwva2V5PgoJCQk8c3RyaW5nPjAwMTY2
			MS0wOC00Y2M0NjkzNy0yNTlmLTRmNmYtODNlNy0yNTBkMWI5MGU0
			MDY8L3N0cmluZz4KCQkJPGtleT5BcHBsZUlEPC9rZXk+CgkJCTxz
			dHJpbmc+ZHJvbmVmb3JlbnNpY3NAdnRvaW5jLmNvbTwvc3RyaW5n
			PgoJCQk8a2V5PkRTUGVyc29uSUQ8L2tleT4KCQkJPGludGVnZXI+
			MTEzMjU1Njc2MzI8L2ludGVnZXI+CgkJCTxrZXk+RG93bmxvYWRl
			cklEPC9rZXk+CgkJCTxpbnRlZ2VyPjA8L2ludGVnZXI+CgkJCTxr
			ZXk+RmFtaWx5SUQ8L2tleT4KCQkJPGludGVnZXI+MDwvaW50ZWdl
			cj4KCQkJPGtleT5QdXJjaGFzZXJJRDwva2V5PgoJCQk8aW50ZWdl
			cj4xMTMyNTU2NzYzMjwvaW50ZWdlcj4KCQk8L2RpY3Q+CgkJPGtl
			eT5wdXJjaGFzZURhdGU8L2tleT4KCQk8c3RyaW5nPjIwMTctMDYt
			MjdUMjI6Mjg6MThaPC9zdHJpbmc+Cgk8L2RpY3Q+Cgk8a2V5Pmdh
			bWVDZW50ZXJFbmFibGVkPC9rZXk+Cgk8ZmFsc2UvPgoJPGtleT5n
			YW1lQ2VudGVyRXZlckVuYWJsZWQ8L2tleT4KCTxmYWxzZS8+Cgk8
			a2V5PmdlbnJlPC9rZXk+Cgk8c3RyaW5nPkVudGVydGFpbm1lbnQ8
			L3N0cmluZz4KCTxrZXk+Z2VucmVJZDwva2V5PgoJPGludGVnZXI+
			NjAxNjwvaW50ZWdlcj4KCTxrZXk+aGFzTWVzc2FnZXNFeHRlbnNp
			b248L2tleT4KCTxmYWxzZS8+Cgk8a2V5PmlzLWF1dG8tZG93bmxv
			YWQ8L2tleT4KCTxmYWxzZS8+Cgk8a2V5PmlzLXB1cmNoYXNlZC1y
			ZWRvd25sb2FkPC9rZXk+Cgk8dHJ1ZS8+Cgk8a2V5Pml0ZW1JZDwv
			a2V5PgoJPGludGVnZXI+OTQzNzgwNzUwPC9pbnRlZ2VyPgoJPGtl
			eT5pdGVtTmFtZTwva2V5PgoJPHN0cmluZz5ESkkgR088L3N0cmlu
			Zz4KCTxrZXk+a2luZDwva2V5PgoJPHN0cmluZz5zb2Z0d2FyZTwv
			c3RyaW5nPgoJPGtleT5sYXVuY2hQcm9oaWJpdGVkPC9rZXk+Cgk8
			ZmFsc2UvPgoJPGtleT5yYXRpbmc8L2tleT4KCTxkaWN0PgoJCTxr
			ZXk+bGFiZWw8L2tleT4KCQk8c3RyaW5nPjQrPC9zdHJpbmc+CgkJ
			PGtleT5yYW5rPC9rZXk+CgkJPGludGVnZXI+MTAwPC9pbnRlZ2Vy
			PgoJPC9kaWN0PgoJPGtleT5zPC9rZXk+Cgk8aW50ZWdlcj4xNDM0
			NDE8L2ludGVnZXI+Cgk8a2V5PnNpZGVMb2FkZWREZXZpY2VCYXNl
			ZFZQUDwva2V5PgoJPGZhbHNlLz4KCTxrZXk+c29mdHdhcmVWZXJz
			aW9uQnVuZGxlSWQ8L2tleT4KCTxzdHJpbmc+Y29tLmRqaS5waWxv
			dDwvc3RyaW5nPgoJPGtleT5zb2Z0d2FyZVZlcnNpb25FeHRlcm5h
			bElkZW50aWZpZXI8L2tleT4KCTxpbnRlZ2VyPjgyNzE5OTU3NTwv
			aW50ZWdlcj4KCTxrZXk+c291cmNlQXBwPC9rZXk+Cgk8c3RyaW5n
			PmNvbS5hcHBsZS5BcHBTdG9yZTwvc3RyaW5nPgoJPGtleT5zdG9y
			ZUNvaG9ydDwva2V5PgoJPHN0cmluZz43fGRhdGU9MTQ5ODYwMDgw
			MDAwMCZhbXA7c2Y9MTQzNDQxJmFtcDtwZ3RwPVNvZnR3YXJlJmFt
			cDtwZ2lkPTk0Mzc4MDc1MCZhbXA7cHJwZz1TZWFyY2gmYW1wO2N0
			eHQ9VHJhbnNpZW50JmFtcDtpc3NyY2g9MTwvc3RyaW5nPgoJPGtl
			eT5zdWJnZW5yZTwva2V5PgoJPGFycmF5Lz4KCTxrZXk+dmFyaWFu
			dElEPC9rZXk+Cgk8c3RyaW5nPmlQYWQ1LDE8L3N0cmluZz4KPC9k
			aWN0Pgo8L3BsaXN0Pgo=
			</data>
		</dict>
		<key>com.skydio.r1</key>
		<dict>
			<key>ApplicationSINF</key>
			<data>
			AAAEIHNpbmYAAAAMZnJtYWdhbWUAAAAUc2NobQAAAABpdHVuAAAA
			AAAAA3BzY2hpAAAADHVzZXKjDnKQAAAADGNyZHTXUDXpAAAADGFz
			ZHQAAAAAAAAADGtleSAAAAAFAAAAGGl2aXYd4wzaleBTwPTRT8tb
			6Q6YAAAAWHJpZ2h2ZUlEBwnggnBsYXQAAAAFYXZlcgEBAQB0cmFu
			11A16XNpbmcAAAAAc29uZ0lwIl90b29sUDUzMW1lZGkAAACAbW9k
			ZQAAAABoaTMyAAAAAgAAAQhuYW1lRHJvbmUgRm9yZW5zaWNzAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAcBwcml2XzmY6JwXtYylCUagHo+vSILHgBus8FsVMiF1
			PzEfczG7bNKQ6gwcpTrhZoYw6SfpmBPPQDIlaKD39GsfJWYWXB/p
			ZywPTsHAp8YAMpZegJr/sZdKjmdK75bDWqhH2aF6P4C+U2Gpye3g
			jGullO+kSCgI7VAc9Grld2AGPB8Y1oWXyzyr6Omj7YmjJweZTbbA
			dZl1/9BU5dQteUwK0qybTBfyfSRJfoNC9hL8m1kCpF3AS4ENktJN
			n78RSZ75FXYcpAb8eBIKfuk5QE8pmCZUwNpP0pa1TMR/hrrzE0dM
			SGze2SJ5vR7ndTAt9xI+wV2gLvNTFHz8jwCALh964dsPp7sI9jrU
			stlkJAOg2nd6vBtVkPZYhiRhrUWd9/d53ewQ8CfsqJ52qBlJn0sS
			wburtAgBAMFCSGx/sWwAYZ7juu+VBXikrN1Bq9pbiCmezwEesg4U
			ZgIfSwLb9UcgRxJ3FDCkOTDOHaxm3l6In7FUpWQwjxGz0KzdjzbU
			kbMXLD17xpaT9YSOUTLOHTB3SyvQUeBE79lune0CkCsfUcsv6PQb
			PSZqtnkYlEsgx2VRxTbzAAAAAAAAAAAAAACIc2lnbpZQWagvYToe
			Ibc1nSlxhB1FIq9aVtfhEEnKzH/3DVDh7W1UlplxKYQV9fDiE/FA
			MPs4bg/2eNy9+3Tc8asJ9grwFWqawyaK34VNhFeQLLhsc8EUYHie
			u3wCXpVMKjhVEzPa9hQa9DZW6QoCvlf0iPlylgEr9n5GVoZxcbY5
			FOth
			</data>
			<key>PlaceholderIcon</key>
			<data>
			iVBORw0KGgoAAAANSUhEUgAAAJgAAACYCAYAAAAYwiAhAAAAAXNS
			R0IArs4c6QAAAAlwSFlzAAAWJQAAFiUBSVIk8AAAABxpRE9UAAAA
			AgAAAAAAAABMAAAAKAAAAEwAAABMAAAGubIRU0UAAAaFSURBVHgB
			7JxfSBVZHMf9A6FboKWbbBBEuj1YkIgQCUb0IkZbkKi4itmLoAgh
			LusSvfhirO5DL7tI6ltkCRWR7LIPlai7UKDLbiK+yGYPYimLuqvl
			39/+vkPG9Xavd+Y6987x9v3Bzzv33HPOHL+/z5w5c2bOxMVF15J1
			dznqpepN6jfUu9V/VR9U/0N9XH1G/Z/3vqCfQg+owX8+OkEzaAcN
			oSU0hbbQGFpDc2iPGMSMfa7/SYV6h/qf6qvqhMVbDRADxAIxQWwQ
			ox1lKdraGvXf1NfUCZTZGiBGA+qIGWJnrGVqy35S5ynNbKC2OuAR
			O8QQsTTGvtCWdKnz9LdzwfKHDrFETBFbzyxR99yo/q+6fwP5PTY0
			QWwRY8Q6qval7u13dYL0aWiAWCPmUbGvdC+z6oTr09IAMUfsI2qY
			T1lXJ1yfpgaIPRhw3eK1xjZ1gkUNwMAP6mDCNfteayJc1MCXgVa3
			6PqOcPHgCsIA2NiWYVDHMRd7Lt+ey3cbbIQ98M/SwrxaJFy+QAXa
			BiNgxZFhYo3zXIQrEFCB0sCKo8nYb7RAoIqYRl2CMYAZf1uG+0+8
			/UOQgoEULB3M2Lp3iZucwSphOrXZigGws6VhsLamvlUl/I36BGMA
			7Gw54P+RcPHg2iYDeJ4soKVq6qJ6MDqZTm3sMACGwNJHVqMpdipg
			HuoUigGw9JENakqogvydGtlhYMCfrnRN4OCe8NiBx04esJTmC9nX
			+sVOQeahTnYZAFMfrEu37BZkPmplhwEw9cFGdctOIeahTnYZAFOW
			faZ/ueSM4NgFx24+MAW2rPcV2C3EfATRCQPHAViZupNCzEu97DIA
			tuK+JWA8wCLEANiyXu9jl0jmY+/lhIEbAKxH3Ukh5qVedhkAW3E/
			EzAeYBFi4BcAhvtGdolkPmrlhAHrnuRfBIwHWIQYAFtxf0eociek
			W3mzsrLk6tWr9DA0yM7Odqx3FOIOtqwX7hrRuPPnzwstPAXKysqM
			iKEftNMADAsnjWgcAQsPLpQyFDCwRcDCD6s5JU0GbJ49mDmghNsS
			QwHDWkkzTo9oB0+R4eJl7CkSQy8CFn5YzSnZ19cnTU1NcurUKdm1
			a5cRY+r3bBEwczBxpyVzc3Ny+/ZtOXPmjAmgETB3wmpmLcPDw5Kf
			n+8laATMTDTca9Xq6qpcvnzZK8gImHuhNLempaUl2bdvnxeQETBz
			sXC3ZSdPniRg7krK2nwVyMvLI2C+gnDbPQWmp6clOTmZgLknKWva
			UODt27deTllwDLYRiFj8fP36tRQUFHjRc23sk4DFIlj4nx48eCAZ
			GRkbgfbqk4DFGmCjo6Ny9uxZr4Dy3y8BixXAxsbGpKqqShITE/2D
			7OV3ArbTARsYGJCLFy9KQkKClyAF2zcB24mAzc/PS3t7u+Tk5AQL
			rCnpBGynALa+vi5Pnz6VS5cuye7du00BKFQ7CJjpgOGJCDzrdfDg
			wVDBNPF3AmYiYENDQ9byvSNHjpgIjZM2ETATAFtZWZEnT57IlStX
			5NChQ04CaHpeAuYVYDMzM3Lr1i0pLy+XvXv3mg5KuO0jYNECbG1t
			TZ49eybNzc2CR2cMm68KF6BQ5QhYJAF7+fKldHR0SElJiaSlpYUK
			Riz+TsDcBOzNmzdy9+5dqampEbxrw6RVWx61hYBtBzA8Z3Xv3j2p
			r6+XY8eOSXx8fNSgOnz4sHVR8PjxYyksLIzafh2CSsCcADY5OSl3
			7tyRurq6qAOFW0EYu7W0tMjIyMimZp87d46AhSLfxJXduIHc2dkp
			1dXVnpzysIi2qKhIbt68KVNTU5ug8v1CwGysIPcaMDz5OTg4KK2t
			rXLhwgVJT0/3pFfYs2ePlJaWSnd3t2ARrR0jYAYC9urVK+np6ZGG
			hgY5ceKEp0vuU1JSpLKyUh4+fCjv3r2zw9SmPATMY8AWFhakv79f
			2trapLi4WA4cOOBJ7+Q7TEhNTbVuXPf29grWLW7HCFgUAcOE5osX
			L6Srq8uaLsAjLaZMauL0V1FRIY8ePZLl5eXtMLWpLAGLIGDj4+PW
			lV1jY6P1dhkE0ben8Ho7KSnJeiAQp+PFxcVNYLj1hYC5BBjGTffv
			37eeNMDcj6mz45gPO336tHUFOjs76xZHQeshYGEANjExYa2MuXbt
			mnWpvn//fqN6pkA949GjR+X69euCAyGaRsBsAJaZmWnds8vNzRVc
			VQUKoIlpeBKitrZWnj9/Hk2mNu3LVMD+BwAA//9BJeQ5AAAFWklE
			QVTt3MlLLFcUBvASxRl5QoJEMQuTgCii/geuVHDYBhJBV2YnqJlE
			cK8RSVwEBAPZCJKNbkxEXAgZdi504UaCOKEYEx5JFEHNyflEH/i0
			fXVrsG71/S4cbLtv3ao651fV3dVV5XmeJwzzHOTk5Ehra6vMz8/L
			xcWFJN06OzttraN5cl0GWVlZKaOjo7Kzs5O0qXvzJ7AU7ymxt2pr
			a5PFxUW5urq6V1hb/iGwFAIrLy+XoaEh2d7etsVRxuUgsBQBq6ur
			k5mZGTk/P89YUNteILAUAGtvb5fl5WXb7PhaHgKzFFheXp709PTI
			5uamr0La2onALANWVFQkAwMDsru7a6sZo+UiMEuAlZSUyPDwsBwf
			HxsV0PbOBJYwsMLCQhkcHJSTkxPbrQRaPgJLCFhubq709/fLwcFB
			oMKlZSICSwBYV1eXbG1tpcVIqOUksGcEhuNYq6uroQqWtokJ7BmA
			lZaWytTUlFxeXqbNR+jlJbCYgXV3d8ve3l7oQqV1AAKLCRh+L5yb
			m0uri8iWm8BiANbS0iKHh4eRFSnNAxFYhMBw+szIyIi1p84kAZXA
			IgKGt8SlpaUkamj1PAksAmDV1dXOHNcy1UxgIYHh2Nb+/r5p3p3p
			T2AhgNXW1srp6akzWIKsKIEFBIaLLLLllJogcPxOQ2ABgOXn58v6
			+rrfHDvdj8ACABsfH3cajcnKE5ghsIaGBrm+vjbJsdN9CcwQ2MLC
			gtNgTFeewAyAVVRU8Ci9oTACMwDW19dnmF52JzADYBMTExRjmAEC
			MwA2PT1tmF52JzADYGNjYxRjmAECMwDW0dFhmF52JzADYMXFxXJ0
			dEQ1BhkgMANguMEd7hfB5j8DNgP729Y7Fq6srPjPsOM9LQX2j9ry
			XtoKrKCgQGZnZx2n42/1LQUGW/YCu4Pf29srGxsb/jLtaC+bgZ3e
			FdL2v83NzTI5OSlra2s3N+E9OztzlNPD1bYU2B9qytuxHdZTy4dz
			xnAhSFVVldTU1AjOfq2vrxecjdHY2ChNTU1ORFlZmY23MYctb/Op
			AvI13uY9hAHY8n4OMYCNWw2XyfCQUIz1hy3vxxhnwGLbU+wkavET
			gP1AYHwbjMkAbHlfxzR4ElsM52nXHhO2vM8JjHuwmAzAlvdhTINz
			b2LX3iSJesCW10Rg3IPFZAC2vGKNq5hmkMRWw3naseeEKdi6aTzY
			akdRsmnjuDnIegdsVh9k08pxXZKvJ0y9ah/pIxaFOYjSAEy9am/p
			o2uNKGfAsdzNJyzB1L32i/5HFMxBFAZg6UH7RJ+JYnCOwTzC0oP2
			Qp851yAQ5iCMARiCpUfbt/psmME5LfMHQxnb+/oKP+wTSdAdBezA
			0JPtO3016Aw4ndu5g503tne0B65nIxbmwMQAzMCOr/aZ9jIZnH2Z
			r099ybrtlKt/fyMybmQ+DcAKzBi1D7T3Sw3unZiDpwzACKwEat06
			1X8aT82Ar7mbH9iAkVDtS52aiJiDxwzARiRtQkd5bAZ8zt28wERk
			LUdH+kqDoJgDGJjUgInIG3aJ/EzmLjLUPrK3xUw68aGO3y7dQ4aa
			h/5AnwnV68/jaymPk7mDDLUOfCjidTx+/8eBtWEN/qyUvdD+va2x
			8UFUv4j89MPvT/iRk5e+ZQ801PJ7jXc1rGnv6ZLgXCCccMZvm+nM
			AWqHGr7xlBvtk1h7oXPu1/hVA+cHEZvdOUCNUCvUDLVLVXtbl/Zj
			DVwjhwsx+TaaPDbUALVATVAb1ChrWomuSbMGborxhcY3GvMaKxrY
			ijY0ftf4U+Ov2+BbbmaUyM1dnpAz5A45RC6RU+QWOUaukfNmDdTg
			2dr/R6wzSAtzwO8AAAAASUVORK5CYII=
			</data>
			<key>iTunesMetadata</key>
			<data>
			PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4K
			PCFET0NUWVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUvL0RURCBQ
			TElTVCAxLjAvL0VOIiAiaHR0cDovL3d3dy5hcHBsZS5jb20vRFRE
			cy9Qcm9wZXJ0eUxpc3QtMS4wLmR0ZCI+CjxwbGlzdCB2ZXJzaW9u
			PSIxLjAiPgo8ZGljdD4KCTxrZXk+RGV2aWNlQmFzZWRWUFA8L2tl
			eT4KCTxmYWxzZS8+Cgk8a2V5PmFydGlzdE5hbWU8L2tleT4KCTxz
			dHJpbmc+U2t5ZGlvLCBJbmMuPC9zdHJpbmc+Cgk8a2V5PmJ1bmRs
			ZVZlcnNpb248L2tleT4KCTxzdHJpbmc+MTcwPC9zdHJpbmc+Cgk8
			a2V5PmNvbS5hcHBsZS5pVHVuZXNTdG9yZS5kb3dubG9hZEluZm88
			L2tleT4KCTxkaWN0PgoJCTxrZXk+YWNjb3VudEluZm88L2tleT4K
			CQk8ZGljdD4KCQkJPGtleT5BbHREU0lEPC9rZXk+CgkJCTxzdHJp
			bmc+MDAxNjYxLTA4LTRjYzQ2OTM3LTI1OWYtNGY2Zi04M2U3LTI1
			MGQxYjkwZTQwNjwvc3RyaW5nPgoJCQk8a2V5PkFwcGxlSUQ8L2tl
			eT4KCQkJPHN0cmluZz5kcm9uZWZvcmVuc2ljc0B2dG9pbmMuY29t
			PC9zdHJpbmc+CgkJCTxrZXk+RFNQZXJzb25JRDwva2V5PgoJCQk8
			aW50ZWdlcj4xMTMyNTU2NzYzMjwvaW50ZWdlcj4KCQkJPGtleT5E
			b3dubG9hZGVySUQ8L2tleT4KCQkJPGludGVnZXI+MDwvaW50ZWdl
			cj4KCQkJPGtleT5GYW1pbHlJRDwva2V5PgoJCQk8aW50ZWdlcj4w
			PC9pbnRlZ2VyPgoJCQk8a2V5PlB1cmNoYXNlcklEPC9rZXk+CgkJ
			CTxpbnRlZ2VyPjExMzI1NTY3NjMyPC9pbnRlZ2VyPgoJCTwvZGlj
			dD4KCQk8a2V5PnB1cmNoYXNlRGF0ZTwva2V5PgoJCTxzdHJpbmc+
			MjAxOC0wNi0wNlQxNzoxOToxNlo8L3N0cmluZz4KCTwvZGljdD4K
			CTxrZXk+Z2FtZUNlbnRlckVuYWJsZWQ8L2tleT4KCTxmYWxzZS8+
			Cgk8a2V5PmdhbWVDZW50ZXJFdmVyRW5hYmxlZDwva2V5PgoJPGZh
			bHNlLz4KCTxrZXk+Z2VucmU8L2tleT4KCTxzdHJpbmc+UGhvdG8g
			JmFtcDsgVmlkZW88L3N0cmluZz4KCTxrZXk+Z2VucmVJZDwva2V5
			PgoJPGludGVnZXI+NjAwODwvaW50ZWdlcj4KCTxrZXk+aGFzTWVz
			c2FnZXNFeHRlbnNpb248L2tleT4KCTxmYWxzZS8+Cgk8a2V5Pmlz
			LWF1dG8tZG93bmxvYWQ8L2tleT4KCTxmYWxzZS8+Cgk8a2V5Pmlz
			LXB1cmNoYXNlZC1yZWRvd25sb2FkPC9rZXk+Cgk8ZmFsc2UvPgoJ
			PGtleT5pdGVtSWQ8L2tleT4KCTxpbnRlZ2VyPjEyMzIwODU1OTk8
			L2ludGVnZXI+Cgk8a2V5Pml0ZW1OYW1lPC9rZXk+Cgk8c3RyaW5n
			PlNreWRpbzwvc3RyaW5nPgoJPGtleT5raW5kPC9rZXk+Cgk8c3Ry
			aW5nPnNvZnR3YXJlPC9zdHJpbmc+Cgk8a2V5PmxhdW5jaFByb2hp
			Yml0ZWQ8L2tleT4KCTxmYWxzZS8+Cgk8a2V5PnJhdGluZzwva2V5
			PgoJPGRpY3Q+CgkJPGtleT5sYWJlbDwva2V5PgoJCTxzdHJpbmc+
			NCs8L3N0cmluZz4KCQk8a2V5PnJhbms8L2tleT4KCQk8aW50ZWdl
			cj4xMDA8L2ludGVnZXI+Cgk8L2RpY3Q+Cgk8a2V5PnM8L2tleT4K
			CTxpbnRlZ2VyPjE0MzQ0MTwvaW50ZWdlcj4KCTxrZXk+c2lkZUxv
			YWRlZERldmljZUJhc2VkVlBQPC9rZXk+Cgk8ZmFsc2UvPgoJPGtl
			eT5zb2Z0d2FyZVZlcnNpb25CdW5kbGVJZDwva2V5PgoJPHN0cmlu
			Zz5jb20uc2t5ZGlvLnIxPC9zdHJpbmc+Cgk8a2V5PnNvZnR3YXJl
			VmVyc2lvbkV4dGVybmFsSWRlbnRpZmllcjwva2V5PgoJPGludGVn
			ZXI+ODI3Mjg2MzA4PC9pbnRlZ2VyPgoJPGtleT5zdG9yZUNvaG9y
			dDwva2V5PgoJPHN0cmluZz43fGRhdGU9MTUyODMwNDQwMDAwMCZh
			bXA7c2Y9MTQzNDQxJmFtcDtwZ3RwPVNvZnR3YXJlJmFtcDtwZ2lk
			PTEyMzIwODU1OTkmYW1wO3BycGc9U2VhcmNoXzFmMDVkNjFjLWI3
			Y2MtNGUyZi1iODVhLTRkMDU3M2EzYWUwYyZhbXA7Y3R4dD1UcmFu
			c2llbnQmYW1wO2lzc3JjaD0xPC9zdHJpbmc+Cgk8a2V5PnN1Ymdl
			bnJlPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT52YXJpYW50SUQ8L2tl
			eT4KCTxzdHJpbmc+aVBhZDUsMTwvc3RyaW5nPgo8L2RpY3Q+Cjwv
			cGxpc3Q+Cg==
			</data>
		</dict>
	</dict>
	<key>Build Version</key>
	<string>15F79</string>
	<key>Device Name</key>
	<string>Clean Copy</string>
	<key>Display Name</key>
	<string>Clean Copy</string>
	<key>GUID</key>
	<string>E4DDCE4DB45A162E07A708B6D27EAEC1</string>
	<key>Installed Applications</key>
	<array>
		<string>com.skydio.r1</string>
		<string>com.dji.pilot</string>
	</array>
	<key>Last Backup Date</key>
	<date>2018-06-20T18:18:44Z</date>
	<key>Product Name</key>
	<string>iPad mini 4</string>
	<key>Product Type</key>
	<string>iPad5,1</string>
	<key>Product Version</key>
	<string>11.4</string>
	<key>Serial Number</key>
	<string>FNWV3043GHK9</string>
	<key>Target Identifier</key>
	<string>910c76c14ed64ee886ffdd2611665d842aec939b</string>
	<key>Target Type</key>
	<string>Device</string>
	<key>Unique Identifier</key>
	<string>910C76C14ED64EE886FFDD2611665D842AEC939B</string>
	<key>iTunes Files</key>
	<dict>
		<key>IC-Info.sidv</key>
		<data>
		AAEAAa2C02Wj38T/qambetvBbBIO7ifD2ShiA0oN1/Oi554sow7M/CWDUBlV
		A5yd0QGVpbQzBmcZCHQvFgIGf9XLxnpQYqWZ5pOpTxAQ1zvDxHOp3WRmQ0+n
		+H15KccYBzrCQ6JIXlfsIr9irSBm7xkK74RRQVO6M1NxRYXlKy5ZtJuH7i2/
		B12sSTgg0z4eNmHjU0paglJiy8TtodKnXNI3MzHj7m58PW9MA+L8x8W/TZVd
		Q8Se3r8A7yWnxEzfojLCPLLU74Pa9iSt7HcqFJcNEEdemZA+Kc1jX/knytDr
		dDU1Gf6YveF9UIDTgyE1NwCqZosckioPsESvtlJ0R9rghf3iW5Zf2C3Rx/22
		XuAYQoWrUynQNab9BtKE3amlLJxoskoiy2+VlDqAftSNbyNfH+xlsVpDz/lS
		RmqHCEVbOLZk/+VYKyIMUY/5F06PyhZhE4GIhKOFesISmp6MvGwYiOMXay2r
		kEtSWbPa2fMZ1SFITLfDOVz4Iaib1gABUhNPO/i83RdJmJQO1yUzpT5VLhaa
		yzchOiLCo+qDoyelbZap3QUE1ZLnKTNuPszKH56ZxLxwGMBG/wb8grRL4El+
		gd7YY/GJwRWAkpazAhIJUDMlzsxGzJlmsvk3H31zdxz1elZg3Z2qun/hf+gM
		fOHzqPLEHP/gnocai2aW6l12VjXc8182O9aLl3eLtT+iDcLlSRhiVS8GaZad
		q7Pv5Md+VTP/ssFZ4yA9zZG7Hg1hxNhzk8DfI1CNHaS/Th4rm7fau6z3/i7P
		gOwdM4sAGT18f72Ukum4+2DVwyNYQtwbEIMCHr9b4zCJ+5TAF/jgdZSe1m3S
		TGc52gF/j7SdYeBRjGg4FPz9vlgaAv5r3zioWEWCHiY/6qI7xaP8S33YrbsR
		0AofJJrOqKnc0ZNbDiVwc1zR8IVg8LlIJ2vR7SCGnw9ZxPq1vfdw2eTmE4Ko
		E7ezFGuVUmCapfGOQZIBRiDj0XgodNgu6rXDKK5XHm0Y43qQf6ErBWUK1PUA
		fiV3iEu6hzr6CRp/N0zCDhgyF58Hc6vFHMRyVOgmP0JSTqlli2Tud6bclsCT
		DruAuRGoCfwlPdVjOUoEEDaEU99hq51arhEIVWh0/Oy7o+S3FGP+kdprhMom
		D82f0pnCh5Q0EvYbWvrNyvmdcX0Bz9s2QV7cT0Uh4RLPnbv32U0X29h8W7m1
		susP2wBdEfydRxCfUZmwtxBdBVuWNaGrxcAGBdi8driUHVY0gqODi+Hcyt8L
		7WD7utIbgOOWli2fgmjDGBLHMe6ZE1pQq27KhVXzztRmzZW++hx9GkpbG/0s
		n11CT5XbWFkl29Aqmt2li5aBe044t9RNUsL1TCXn3To8HkPKqSymG4+27ZBa
		W4V0xh+J122WAigWBxudDTesxO1jE4gHHVq/Q3HANv33CUmg8RlxST5dZvOi
		IDxVAG/74PpHLzDVl9D9QyPsqxUI3IkqCPcea+Skjb+jUGsVNEvoSk1B66kg
		os7RUMg7QxCPlepXO/Gp
		</data>
		<key>VoiceMemos.plist</key>
		<data>
		PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NU
		WVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUvL0RURCBQTElTVCAxLjAvL0VO
		IiAiaHR0cDovL3d3dy5hcHBsZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4w
		LmR0ZCI+CjxwbGlzdCB2ZXJzaW9uPSIxLjAiPgo8ZGljdC8+CjwvcGxpc3Q+
		Cg==
		</data>
		<key>iTunesPrefs</key>
		<data>
		ZnJwZAEAGAABAQABms1SFeOX/JHwNB9/2ukZ6AAAAAAAAAABAAAAAAAAAAAA
		AAAAAQAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAACCPOU/hzq0IwAB
		AAQAAAAAms1SFeOX/JECAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAABAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAgAAAAEBAAAAAAAAAAAAAAEAAQABAAEAAAAA
		AAAAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAMhB3iDYENOAjf9bEPxnZ697
		5YFcAAAAAAAAAAAAAAAAAAAAAP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAEBAAQAAAAABwAAAAAAAQABAAAAAQEBgAAAAAAAAQAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZHJhdGhib25lAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFNZ
		U1RFTS0wMDEwLURFTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZHJhdGhib25l
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAFNZU1RFTS0wMDEwLURFTAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABkcmF0aGJvbmUAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAU1lTVEVNLTAwMTAtREVMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAABkcmF0aGJvbmUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAU1lTVEVNLTAwMTAtREVMAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAA=
		</data>
		<key>iTunesPrefs.plist</key>
		<data>
		PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NU
		WVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUvL0RURCBQTElTVCAxLjAvL0VO
		IiAiaHR0cDovL3d3dy5hcHBsZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4w
		LmR0ZCI+CjxwbGlzdCB2ZXJzaW9uPSIxLjAiPgo8ZGljdD4KCTxrZXk+QXBw
		bGljYXRpb25JRHM8L2tleT4KCTxhcnJheS8+Cgk8a2V5PkF1ZGlvYm9va1Bs
		YXlsaXN0SURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5BdWRpb2Jvb2tUcmFj
		a0lEczwva2V5PgoJPGFycmF5Lz4KCTxrZXk+Qm9va1RyYWNrSURzPC9rZXk+
		Cgk8YXJyYXkvPgoJPGtleT5MaWJyYXJ5Qm9va1RyYWNrSURzPC9rZXk+Cgk8
		YXJyYXkvPgoJPGtleT5Nb3ZpZVBsYXlsaXN0SURzPC9rZXk+Cgk8YXJyYXkv
		PgoJPGtleT5Nb3ZpZVRyYWNrSURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5N
		dXNpY0FsYnVtSURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5NdXNpY0FydGlz
		dElEczwva2V5PgoJPGFycmF5Lz4KCTxrZXk+TXVzaWNHZW5yZU5hbWVzPC9r
		ZXk+Cgk8YXJyYXkvPgoJPGtleT5NdXNpY1BsYXlsaXN0SURzPC9rZXk+Cgk8
		YXJyYXkvPgoJPGtleT5NdXNpY1RyYWNrSURzPC9rZXk+Cgk8YXJyYXkvPgoJ
		PGtleT5Qb2RjYXN0Q2hhbm5lbElEczwva2V5PgoJPGFycmF5Lz4KCTxrZXk+
		UG9kY2FzdFBsYXlsaXN0SURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5Qb2Rj
		YXN0VHJhY2tJRHM8L2tleT4KCTxhcnJheS8+Cgk8a2V5PlJpbmd0b25lVHJh
		Y2tJRHM8L2tleT4KCTxhcnJheS8+Cgk8a2V5PlRWU2hvd0FsYnVtSURzPC9r
		ZXk+Cgk8YXJyYXkvPgoJPGtleT5UVlNob3dOYW1lczwva2V5PgoJPGFycmF5
		Lz4KCTxrZXk+VFZTaG93UGxheWxpc3RJRHM8L2tleT4KCTxhcnJheS8+Cgk8
		a2V5PlRWU2hvd1RyYWNrSURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5pUG9k
		UHJlZnM8L2tleT4KCTxkYXRhPgoJWm5Kd1pBRUFHQUFCQVFBQm1zMVNGZU9Y
		L0pId05COS8ydWtaNkFBQUFBQUFBQUFCQUFBQUFBQUFBQUFBQUFBQUFRQUEK
		CUFBQUNBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQVFBQUFBQ0NQT1Uv
		aHpxMEl3QUJBQVFBQUFBQW1zMVNGZU9YCgkvSkVDQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFCQUFBQUFBQUFBQUFCQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQQoJQWdBQUFBRUJBQUFBQUFBQUFBQUFBQUVBQVFBQkFBRUFBQUFBQUFB
		QUFBQUFBQUlBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCUFBQUFBTWhCM2lEWUVO
		T0FqZjliRVB4blo2OTc1WUZjQUFBQUFBQUFBQUFBQUFBQUFBQUFBUDhBQUFB
		QUFBQUFBQUFBCglBQUFBQUFBQUFBQUFBQUFBQUFBQUFBRUJBQVFBQUFBQUJ3
		QUFBQUFBQVFBQkFBQUFBUUVCZ0FBQUFBQUFBUUFBQUFBQQoJQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUEKCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQVpISmhkR2hpYjI1bEFBQUFBQUFBQUFBQUFBQUFBQUFBCglBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUZOWlUxUkZUUzB3TURFdwoJTFVSRlRBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
		CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCglBQUFBQUFBQUFBQUFBQUFBQUFB
		QVpISmhkR2hpYjI1bEFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQQoJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUZO
		WlUxUkZUUzB3TURFd0xVUkZUQUFBQUFBQUFBQUEKCUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUJrY21G
		MGFHSnZibVVBCglBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJQUFBQVUxbFRW
		RVZOTFRBd01UQXRSRVZNQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUEKCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCglBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQQoJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
		CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCglBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQQoJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUJrY21GMGFHSnZibVVBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFVMWxUVkVWTkxUQXdNVEF0UkVW
		TUFBQUFBQUFBCglBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJQUFBQUFBQUFB
		QUE9Cgk8L2RhdGE+Cgk8a2V5PmlUdW5lc1VDaGFubmVsSURzPC9rZXk+Cgk8
		YXJyYXkvPgoJPGtleT5pVHVuZXNVUGxheWxpc3RJRHM8L2tleT4KCTxhcnJh
		eS8+Cgk8a2V5PmlUdW5lc1VUcmFja0lEczwva2V5PgoJPGFycmF5Lz4KCTxr
		ZXk+aVR1bmVzVmVyc2lvbjwva2V5PgoJPHN0cmluZz4xMi42LjE8L3N0cmlu
		Zz4KPC9kaWN0Pgo8L3BsaXN0Pgo=
		</data>
	</dict>
	<key>iTunes Settings</key>
	<dict>
		<key>DeletedApplications</key>
		<array>
			<string>com.skydio.r1</string>
			<string>com.ryzerobotics.tello</string>
			<string>com.skyrocket.skyviper</string>
			<string>com.parrot.freeflight3</string>
			<string>com.dji.pilot</string>
			<string>com.dji.go</string>
		</array>
	</dict>
	<key>iTunes Version</key>
	<string>12.6.1.25</string>
</dict>
</plist>
