<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Applications</key>
	<dict>
		<key>com.dji.go</key>
		<dict>
			<key>ApplicationSINF</key>
			<data>
			AAAEIHNpbmYAAAAMZnJtYWdhbWUAAAAUc2NobQAAAABpdHVuAAAA
			AAAAA3BzY2hpAAAADHVzZXKjDnKQAAAADGNyZHTW++J8AAAADGFz
			ZHQAAAAAAAAADGtleSAAAAAFAAAAGGl2aXY/X9bP7d/0nn53GZUU
			CLQdAAAAWHJpZ2h2ZUlEAB5IHXBsYXQAAAAFYXZlcgEBAQB0cmFu
			1vvifHNpbmcAAAAAc29uZ0XDsHB0b29sUDUzMW1lZGkAAACAbW9k
			ZQAAAABoaTMyAAAAAgAAAQhuYW1lRHJvbmUgRm9yZW5zaWNzAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAcBwcml2ZQvFCWItcqEpWUpKDIv401GUUxJpmljUdLhk
			FlDzeQ3b4+c4DSjeq9aj/VDAd5FE29hxnca5YhYn9x4AZr+THOXA
			dB1sar5zFIXafzXcV19j6cm/CbYdNXoBesP90LO5IZSL9n+uC1u4
			AGZz3HR4zKo5pmw0FMST3rwZr/ekPTEfkds41WYGUXPEiq5eP9g3
			R1aES+yNbXuQwenaD/6KCrhpzNlnq/BZhpr4ufBFPzllPNuvQbq1
			xvpzMpnq/3HyTzLGp6mLkCN9Eh+EoscYy/n+BcKFV0x9P6rgpKi2
			UKLxR6NPKZAZI+PTb+dZU7DA6B8t8SL/GcmtKSHIzFkUH+3/ZfPU
			ZQMWGm1ZxG8oLMMl/2afrvxX62wkWxdaFaaBiUinAXtvkV2lPFdo
			jZLjEXAi2lyKeESEnUsXYPFouTkWMKtfCWsrYZHngLminGj3FhbC
			U8I/IrgaXws+uPdnHvzKXgm0QHAv8cioVl7J2WwEGyh8+KuH2cDb
			CJvSyI+WK9YvrsBUmuvDkkiqlTZKIsXU/jxRNsKHAiJKwWNY4q54
			PUPXHwl6jFDOkqEGIy3QAAAAAAAAAAAAAACIc2lnbo0s6v/jX8+7
			w53wBl0SDdpdpH0k/rcajW775wX3F7wjX/GcyU1guBupVhZxiqAe
			Y8+RjnkhM21Er1Ea/xRWXBT76l4P+lBQJmZffLIvmZu3zfCzee63
			JQjrCjEyaQQpKqdbKzK6DQQ4lBL/zzcL8p9FGNlLnsFGsbwp0WzF
			HO4K
			</data>
			<key>PlaceholderIcon</key>
			<data>
			iVBORw0KGgoAAAANSUhEUgAAAJwAAACcCAYAAACKuMJNAAAAAXNS
			R0IArs4c6QAAAAlwSFlzAAAWJQAAFiUBSVIk8AAAABxpRE9UAAAA
			AgAAAAAAAABOAAAAKAAAAE4AAABOAAAZmcQvljIAABllSURBVHgB
			7J1bjCTVecfLQVHs5CGWjB8sWXIk21IeIsVSnvKSpzwkex92B8wl
			DphkwcGJbe4mhJhFQcEEhFGAXS6KUISSoNxkJcAysyw3g4OJFwMm
			OGhFkB0b2XjZeNiFvcxUvt+p+td8XX2qumr69EyzbElnv1Onumu6
			T/3q/33nO6d6s+zkdrIHTvbAyR442QMpe2D2qQ9kW/Z+Ktv4yOnZ
			xj1XZBv23GLl76y+O1u/58ls/fw+K/uzDfNv2P6BbN3uA9n5+w9l
			1xzLs6uPFOXPjuZZvXA8Vv78eJ7FylcW86xerl3Ks3rZkefZNJfr
			8rey6/IDZXkjuz7fn11zdF929rNPZhse3h36lj6mr+lz+p5rcMJu
			s49/ONu092z7wndZ+U62cf64wZQ3lvV2rCoP59kZT+XZlw8XgAk4
			bB049mPA0RYDjrY6cOzXgWN/moHTZ/sLuzH4rJ//fp5tfdz60Pou
			1s/07QaugV2LDXZNNti14Rq9q7fZZ3852/TI9mzTnm9km+YXDbJ8
			oMQ6ot6mDvviTwuQPGyqryZ00wwesF1+IDdVK0BT39X7lP3qZnb1
			DXaNNsw/ka23a8a1e9dsW/Z83CC73eA6NABYHTj2Y53h2+i07a+U
			yvbOsjsVbLIx6JrUblylmzboAO1q65vP/ldxQ7eBpr6NAefb1u0+
			lF30yu3Zrvzj08vdaY9/JNsyf0+22aR6k8FEiUEWa1NHeEvHfXpf
			0Zl/ah1KoWMFWd2+16ADNNy/d5/qW9+PsbqHq17/3d15drHd5Hcc
			z7Odi8ez2xbvMfA+Mj3gzeanGGiXZJv3LFSgCThZdUSb9R0DbMQg
			l/1fAZiAq6BrAK8PdE1xXdeYbi2VTu7zjP9YjtN83/q+jNXrkGm/
			gs3iwNsMuKosLmR3LF6S3W/Xek23rY990mB7Kts8Z4qmUqqbYJP1
			HdJWp4MA7o9+WMB21dt5RjkJXZ4F92mDp/NfXHafsb6MQebbBFhl
			rb/p86BsddgceDuPP5XtzD+5Nsxt3rMx2zJ3MMAGcF2gA75YB/k2
			vjjxCC5TsMm+V6GT+7zw1Tyb2VvA4fusXvdwxeoVaOXNHWB7zdxo
			C2yoXeFmDxp0G1cXus2Wz9k8vzQAm6DrAl69g7TPF8dNfPlQoWgC
			zVsPXeViy9xcl7ju3Zg2YZTe5D7Vd97GIPNtFXBStg6wCbgCuiWL
			766YPHR5/r5sZu7GRtD6QFdXO1wyd+8XflLARt7Ng+br7wXoULWr
			7Mb7/RfKcMXgqPeZh8zXPVyxegAO2EzhrvzBaGVTLAdsA2XxrzKY
			mNi2Zf4Gc6N5KB6utnrX2A51w2WgUsCm4kHz9XGhm1TaREnYlVpA
			I3Xj3afi4GTA1WD7a/t7gqrNDsBWwrdz8auT4W1m7soKNkGHbYNN
			xyro7PW+81QHtrOfW4ZMsHnrYVN9WqEbZwT7xR8VMysbH7K+sn5R
			H8l6JWuqx1RNbfQ170PZbje4gW0c4IBw1+KVaaHbygDBYjYPmq8L
			rFG2As++sDqQNlIglx4sgTM34kHzdYHm7YkAHap2xc/MfVreEdAC
			bNyckRu0CTLfLrjqFtjo9zps4wK3c9FiulQDidm9n8hOs9GoB6yp
			Pgo4jsegIwUCRFcCm4pzqycqdIDGIIbZlBnrmwHQ1Ff+5rS6B6up
			XgeNfWAjRr72x4PKlkLhULmdiwezu/NPjKd0JHVnLM9GZ6g0wab2
			LtAJPDqBFIhgA7iVQsc5vNqFWYkpTxDX3af6pbopgS4BcKNgG1fh
			FNvtWnpqvOTwzJ5LK9AEHFZwtdlR4HE3M9S/YqGA7Iq3CnuiQyf3
			ec5/Gky4OCu+rwZgSwBcF9iSAWdTbbvyS1amcsyNnja/EAVO8LUB
			xzHfkb5OJysFAmDApiLgTjSlY9SK6l5gik7fcMP5PlE9JXCCbYet
			IvEDBLlRb9tGpzomJWuyuwBuaWFlc69bbSJeYLXZUdDFwAM4hv3E
			ZgLNWw9dBV6PmG613WvbujpA85PsTaClBg7YGIx1gS2pwhl0d9qE
			f6+NgcLWuUUbLCzHbm3QcWwUeOpQOpwUSADM3KkHzdej0DGgiIAH
			YLHiYzrqfVebjDMrodSI1qjF3Kf6xNsUCifYrn+zULZbDQKvZrG6
			VKzNNimb2oPCBZVb7DeAOG3+tgAbwKmMAq4LdHS6UiDAdTnAnYDQ
			BfdpN8b53y1uRL53TOk9aKqPC1wMtlUHDugWb+8mcufu/WC2df5w
			BZqAS6V2rN8SbAB3IkGHqqGKhAvcWKi5V35B1WbHAQ7YWI7vlQ3Y
			1gS4pcPZ3+QfHA3d1vntUdj6guc7mjp3OSkQYLvMkpyCTTaV0uFy
			J+Fe26bC9BwE88DnfLPMp5Wq5vuhDTQdWylwFWx2E+MyBZpszI36
			tjZXqmNynU22cqlB4fLsrnx7B+DmnhwJnODr6maB7cxvFaABmy8C
			rlK6BhfbJ6ZbLegYLKBq3CyffX7QfXrQVBdUbXYlwHnYBFjderhi
			dUHVZptAU3sduF1LT7QDd+beU7NtNljYaopEEVhtdhR0Www2pUCA
			ysOm+mpCl2oEi6qx0ECT7HX3Kci8bQNNx/oCxypdVPVGGxQB2ddK
			FzoNwN2ZL2b35h9qhm527qwKtj7QAWQTeADHRQmw2ZJxQVa3XaHD
			JXu1W8lU2DjQEaOhbH6WINxU1gcerlhdULXZPsChbHXYpgm4uy0l
			dOn+s5qB22a5N4FWt20qp2ND0Nndd66lQCrYAO5dCB1KBmioGp+f
			SfYAmX0//51jkPm2NtB0rCtwMWUDtmkBDthQ3ZlHW3JyW+deagSu
			q4uV2nFBGDF9ybLcQc0Em2wtlpPirVTpUiSIm3J1wHa1DUbCJPve
			YgDkQVPdwxWrC6o22wW4AJtNjXk3KtimBbg7Dbjzvp1n6x5+Ka5w
			25/9xWx27ngrcFI9KdooyyoQQGLpUVA2weZtBLyxoUuUIAY0Rqek
			crh5iNNm7EYSYHUbg8y3tYGmY6OAw41+xi7kTfbZiNNuKVVtmoBD
			3b5i6+34rPzKwkZja2ibtd+b2DaXV0VwNdk22GbM1ZACEWwANw50
			AJgqbRJLmQzFdKULZZaAiwtkitPqkPl9D1esLqjabBtwXEBUA9gA
			DNimDThTtvffetSeKX7MPej+yK8P8ZbNzp9RwSbwmmDz7XXwgI1A
			VpDV7UqVbrWgQ9UYmDDJzvfk+/AdPVhN9Rhkvq0NNB1rAi7A9p1h
			2KYNOFO3D1xkMyx4A9brhbV5e88YBm7b/OVDwAGeh6upLuhQAjLs
			JEAB7WKby6sDx34f6FDJri7Wj16rmK7BvdZzdQwMUDrcJ3fnTOk+
			q+/WAToPV6wuqNpsDDhg+4MXCtikat56d7qWMRxx2/X2hBnfne9R
			AWdsDW2z87dEgeujdgBHCgSggE1lmqELAwWDjZuEH4JB0fgeAk22
			SdV8ewwy39YGmo7VgQO2P3wxz262VAyQyU4bcEr64t1I9A8AZz8V
			NrRtm7+/FbhR4HGhzjPJl7IJNtkYdI1qFxlITELpgI1nCXiS3btP
			QeatB6up7uGK1QVVm/XAmVs65cIabNMKHOp21f8UrpTv7oFbv+f+
			Id4shnvARqnLgwYBFrN11wpsjOJ4YFeAxexqQldPEFcu1tIbgIZL
			RY3lPj1csXoTZL49BplvawNNxwRcE2zTCBzqRoqGvmRwNQTc/IMR
			4OaeCMB1hQ4QBR51Yh8gI+9GiQFH21pCp7iNWQKkX+6T7xGDzLd5
			sJrqHq5YXVC1WYDDjV5ogxa5TSDzRe2yax3DAdwf7yvjXvv8deD4
			3bmhbXbu+WzWvmgo9qau4HHRSIF42KYROgYEpDlw+3KfumGmCThG
			dxe9shyvedBUF2iyawmcudL37bAbWH3IzVgHbv3880O8Zac//Ooy
			cIDXATpg42EQAMOdUgSbtzG166V0NgghhquXLqNXVI0cHrMEwX3a
			Z/agqe7VLFZvUjXfHlM139ambBzrAhvQCTTZtQIOZWPlyblPFAMt
			+rIOHGq9/uFXh4GbnXtjELgRasfJuYCft+ccPXBrCZ3P1SlFgquv
			u09B5m0MMt/mwWqqe7hi9TbggO3iV9qVra5w7N9YulvgE3j1lSLs
			x5YkaaaC9+o1fZYnMaPAZyaFpBCLvgmjVOOHVULE9p/59k+GgTvd
			HnauXKpgk7WTxFwsQTfqJXXz1iuc6quldMDGZ2GSnY5AiT1csbqH
			K1Zvgsy3xyDzbU3AcYG4cFx4QdVmy9d99J5j+e89tBgK9fB+oBsF
			HO83AH/13qPV+9d9fTH/0B12Dt7bBJ3WvWFRN3Juny4ZoU9DHtZs
			AVmRziGBfsHLB+PAnS7AmqydDPBC3Pb8sLJ54KgLNG9j0NEWc7F9
			EsSoG6DxHvuSp5w+X3xO3XkxyHxbDDLf5sFqqnu4YvU6cFKCi1/r
			DlupasDy3OvH82Jbyn/zvmMFrKOAs/fz2of2H8uPHF8q31+Y7x3I
			c8BrhM4DR/2Cp42H3UVf4+2YBiRBHSAz0LbbjEMoL0WB+5nFcXlV
			GtWOuM1GeCRK64DF9j1sqqeGLsyzGnCaZOeG4PMD27QCB2wAuALY
			AAY4tL164Ggxf4lytQFnsKGIh44sg/r6W4v5wcPaz0MdmIMLriud
			gCPnxuT82eYyYYHVzoAFaBVkgo327y5EFM7BJvCGoCtp5sIC15+8
			sTrQoX5RtbOBBPk20hzcXVIsgSar9jbr1SxWb1I13x5TNd8mhRsT
			NiDJ86UKnH9+2QC5yRSuLYYzGFEvqRrquO4f3gluFHd8wzPHcgke
			9XAuD5xgo81ybiEhzQxIE2R18IaIE2QxW4FnysEfADYUDuDWCjpc
			KEppX2zAfQoyb9tA07EYZGojmckatFQF8PgFozIW6xS32eAAYFAj
			oPnS3OEcZWOjHgYPTcBZO1AVoOb5N39wtIjX+PvEbAwozD762rFw
			Pmxo85DxWgYo11tBlYGtDlXbfi/ggNB8dUiBABiwqaw6dGV6RLME
			fC7vPj1oqguqNiu46tZg+5XPPZGfc8uLyUrIW5WxWFfYcIWAhjtE
			mXB7KBJlIH6LuVT7W6gWG8AGl8nr/MjV9vUa1C8c4zWCDNCs/Nw1
			FiO3gdV0rBdwXFSCwoteLxRNsMmuBnTBpRpsmiWoVNfUQmA12TbQ
			dKwOmvYtXXHdP+4PFyvFPwATRoNcSArgtRV7DQrGhkIBGxfet4Xz
			oUAAQkG1VGyf41K34C5xvx426va6u58rFJMBRVCyErKBOknpvuoG
			hENbzJX6NhQlgIUrdQq3EuhwyRpAeBsbTIT4DdDsPTYCCu4zqJqB
			xoiZ0gSa2gVVmxVgdWvx1r/v+2kK1sI5grti3rELcPaaqx4tIMB9
			fuqutytIidvYAhw+fqsDZzDjitlQyAF1Ix4rYQN6jXq/9syR4kGh
			OnDM1DAKbVKxtvbOwHFxGYV42ABORcBh+yhdF+hQtRCn2V2FwtZB
			mzRw5k5PPW9v/qM33wkXLMU/1z12qFCPDsDJxRFzfew2i9MAgPeZ
			mmmUGuI32gFNReqGNZAE7X//+EgxmgWy8lg433VFqgT3zGAkqKi1
			DSjbDvv7XQcIMfA6AccFZtjLbAJFkNXtJKBD2TRLEEAjjnSq5utS
			sibbpmw6Vlc29m1a5revfSYFZ9U55BJbFc6gEmxAcN8L74R9lIeC
			6yvgyHOUjtcOuNUacDpXiM1QQ6D16mVwoZRsvOb9f1nC7V/DQGGl
			6tbVpf78mfPFRQew1YIO0ADYJtmj7tODpnoTaGoXVG02BpzFb5fd
			ly5+I2APSsUF14WPxG/As5wrq1htrBCfhecIiOM4HxboUDL7W1I4
			XnfqzZZCkXph7dFHHUfdzv4Xc9s8DinY+AFFXOlK4javdCMVDlVB
			Qj1sfaDr62JxnbhZTbI3uU9B5q3AarJtoOlYA3D/+vQPGy903wO4
			xrBuDNh88dAZIAB3wQNvNxbFWlheF1STcxhgpD8oAUDANqg4rg21
			BLpfuKGAH8XUhnJmOyx+E2xY9lc6UOgMHBebRKoAi9m6W9W+d69d
			oGPQAGwMSnDf/O2Qhmlwnx401ZtAU7ugarN14Cyhi8Ir16WLMo4N
			wfj1piAeNtU9dNSBpaEIuCoeLN9L6gQVpYQBRqlkwKX38PlROvZ5
			XbEtBbcddaVkBcZxpYJuSOGYhKVwsQnQeaYU0EiFxIBTm0Dztit0
			QdXsC/HoW4DMYBNEfazAarJtoOlYHTgbMPzaxd+oYqXyyoxlgrtC
			NQRZzNbBq+0zyhQkQdmAktcYXEprAFJwnVIqOwaABXRhZFCdgxsK
			lRxSNnvvinNugszbRuCADrURbADXBp0HzdfboEPVOM4HYj5OqtZX
			2QRlE2hqF1Rttg6cxW/b70kXvxGTFfGbpURioPm2GmQBqLIN4FA2
			4q4BqAwQgOZYBbaAwxp0KB2QMrKlUA/n4LdS/GtVT+FKBV0UOC48
			KZA6bKOg4/UeNtXr0H3BYjTiNIBm0R5/z8M2TcDZCPXevd8fS9H8
			m1GXaPzmQfP1JuhKeAYCewGCCwUerNq8pZ3CoIDS9DreM07OTZB5
			OwQcF54YSnA1WbnSmBVo3go6QCPNQWwo94mtF6lWHysla7JtyqZj
			XuHK+I28VaotBOTEbyHp20HlBB/g4TY9OJOuk3PjmQoPzLj1IeBw
			bQDRBJpvj8GmNg8bdVSNY36WoA5ZANDgC9NVkcFCE0hqFzRN1sPU
			pW6zC8RvWlmRArrCzTngRoG32pB5iMfNucXgHAION+ehGlUXYDEb
			QDPYsD7N4UELT7Y/aIskHwoqx4hwpYV83bileggEIC1+Y7I+1Qa4
			xbQUU1plMQUjdeGLYjtirb6lroB936/XM1DgpxpUkindEHCMSimj
			QPPHY7DRxhTXwCyBueugYmZnHgxgkcFnUpw815Mvv5k//9rCmhX+
			PlNY4ZnKEriU8VuYUiJ7L9jM4mKZnkpRfAqEuIwBxUrPy2f15Xdu
			erl4UDymWn3aGoHrC56HDkXj/TZLEGYp/IDAlIyLSuYeuKZp4/ME
			hSsXU6KWKT8jydbMxW+omlZvjNsPQykQc40kmNNsS/lvXPu94uf/
			+8AVe+1I4PqonaBjZkJpDp/XM1VD0VJexDQdylmW8lsftHlCc6Ph
			YWiL31j/1mdqadRnCXkugKNY5h5F0lzoqPeOOh5Wi2h2wNSNNMdy
			QnfUu9uPc73CLyHFAOrb1gm4UdAJNM0S4DYFmqzBRjyU8gK2d1P/
			o3y+8LT7BOI3wAouzwEHgKm2MNuguU8Dzk9jjfs37n7aBnz8F+h9
			4Yq9fgi4z/1v4Q7lUr31cZvqwMZ7mCUALtynIJM1N4qyTTNsfDYU
			LTxLWQKH4qXayOQXU0ZSuMNhGinN+WtLiQw8rQxJcX4S35MFrg90
			/Lc+dfcp0EoAidlSzkWm6MT6OUL8RjpGD8MYdAwiUm3hARfyWqXC
			AZ/Wso37N4biN1M4PZcw7rlR5iJ+6/nsQkzdaBvagE3Fq5uvo26k
			OUgQe7hidXOlKZVi3A5sej+j0Xr8lioG4m+GBZICzizuNVV+L6we
			VvxmgwXitzSDkaUgFMnit5HA1ZUO0IjTcJ9nlnGabAw2c68kTqfZ
			lQrAEL9pwGDTWaQB0m1L+W/9rS2Pd8CxoiPVFuI3fiKWpK2pGw/T
			pNpYVl89b9qkWn3aWxXOKx11lqfgPoEL0FRisNG25YGkD56k6sT6
			eVAabgwfv6V8YIal6R++2YCrBgyHqxUd9c/Sf7+M36RwNoe6vJCy
			/9nq7yB9lSx+G6lwcqO4TybZ66C1AWcjVXJw05kCGexW4suQL2Sw
			QLElSSnjtyJlYTk+F7/5dWmDn6bfHm4/rD4RcGa1TLzfmWKvVv4t
			UfzWChywKc0hsJpsTOFKd5oqTol1B8oBGMxSjFPCXawfurEn5Bnk
			vLlwJPYnV9C2FJYKZTsAzoq5VQBJFWaE1cMB5GJiP138loeHhpLG
			b1HgAA33yQ/2xdxnDLoYcGXebQVXqNNbCPLDNBRzsMRe4xZN+G/6
			+gTjtwI4JvBTbWH1cFC3IplM/JYqmZw8fosCR5oD9wlYZ7k4LQaa
			2hqAm8zodCm46eAC+Vkov3xJq0aarKCKWbtBsk3/FL47QXiqDZdX
			xG/LCuefHxj374TVJw44RsOpNuLYpPFbFDgg80VQtdkYcPb6ScVv
			oSNQNA8b9SbQ1B4Fzc5jqpatv98eFrKfnbL/RTldDJSHfFi2w56r
			xZ2WJdUcJ255OX4rFE4PRqeALtmEPaCpDI1SPWwrVTiL31LPQ/oO
			ZNYi/DbdOMARswk0BxtqlCaHxSeux28LAZBU+T0GHn72gqVFqRLs
			xMcfvfSlNBP2gm1iCmdxVcp1ZB42OiLEbqhVX+BQOt635d8K9wlo
			DrZsx4GQL/N/b9z6ur+352urAcNC2jnO8DhfOXthbjXlYgAGY0nz
			b4JuIgpn+bdJxW+hI8IPDfYEjmmrOmgeNnOlAJcyBlpOWSh+W0g4
			x1k+rOzit6SLASYRv01M4SwHlzKP5VWmMX5ri+E0IAAwBgYU6vyf
			AoCmYsCljIGKlAXnXwYu1RxntXrYAcd6u1TbROK3iQBXxm/p8liD
			XRjiN345su5OY8AJNEEm0AZgs6kbfhTZyi999c1kMRDxW5GyWB4w
			pIwPq9XDLpmcajEA124i8ZsD7v8BAAD//2kh1NQAABV2SURBVO3d
			W4xV1RkH8G1Mk1bTpA/6oDZt0+pD3zRN+tT0pX0wGomDlyl3GGTG
			O94QNTapmMwotoomJU0KSZvGxpLai1HQwQRbFBUQmBlmHESKKCpV
			uQg4Fh1m9/uvvf/nfGfttS/nnLXPnBFOsvKtPQcOeObHf132OmMQ
			8DGzPwx0myHXee0X8mvYOp4Pf/7A5rCMx5Gx8fB7N2wMg6vWh8E1
			jna1fA1N/g7BtGekPV3bLl8TBmi3bA+D3sPSDlbbskPhj1d/Eo5P
			+Pubz/r752Gw7FP5M45JPRb+9E9Hvb34k0P/k9cck9eWP0Paxb//
			PDzh6S//8qi8N9cNhUH3sP9GZ5WqsaGfhw3PExtqx7rwwb/u8fbG
			Vl9oIjRvxDUvuLEBYBo0wkvDBngC7vb1Y9U/rsneZyfGwx/+7pAC
			92l430tfNPmq/O0TYc9aYI7BSQVuX48n1u0Lg3lTBZyAeG77QV//
			7TWvY96IKyS9EukmCK98tjbNiIw1C1sMDqnh67HjwLgkD1JU0s0k
			3Kfh83u+9PLyCDIkmga3aocvzGF46W9Gpwg4wXbOgg3hh4f9feOq
			36GJcPaKnYJKUrQCTvp50ACugg1D6MdxU8OpgDt7+eFw16Hqn9Zc
			byIEAKQmwZ376NHwwPGTzb1s/Lv3Hvoi/PpD1eEUfQD38UAyf/uu
			kTBYWMJwiiE68WhmSJUhraz5G94IM3+bjrkboD2XnWhMNlQzZ9PY
			LHQCA8OfrzkQvvFd/+RwKikn8zjM3zxNscK/jQIzkjNKue/+dizE
			++PjMbhPXneR/MMuY/7mH9y6cMmT5czfzBtxrUCTOaJzQaCB6X4q
			NqKT+sBHZk7k4xuG1wDc6vwtAudzfojXioZTweFx/oZ/EH/c8F55
			w6l3cCXO38wboSEV6RfBFg+xvuZXAPfWRyfMEB3N4SJwSCU/jwmT
			lhrc45tP+HlpeZXu1XumCDhJH8zfML/w/5gwK18zFzPQHFseNsAK
			tv+qeZtKNc7lJN18DndhOBFGWxaYv2HRcNjg8/W+YH6M+SDnhqiv
			7ffznmNY/tEDu8qbv3lNOEm3n9z7b2/zFButSThM/vMa4Bls0VCJ
			4TKrYejzt1iI/tbRkBeDk/kbVpS+5m9I4ure3liI+Rv2J308MG05
			8/oS529ewcncCnFczmPCzIuwv4dFCWCnNSzpkVh57bKnjoQPb/7S
			28qR/92AhQ3kaIWK4fSQt/khXvvBf30mr8mtlmPhZX/xtyOw6lVZ
			WJW1/wZsWIwkHo2uUgUc9snKe8i7LcNV1Hz9Kb5fLzRTCmyxcDgF
			OH/7e5y/VcHhH42vR2nzN656b5YFSeLRKLgSFwy+3tDyX8c9f/Oz
			RzZh0tiev720zw84rKxLmb8B2027w+BumWLcL7fjEo9GwcmiAbee
			TvUHhmo9nPrc3wOuyvxNFgvA52v+hpX1N26SYQ9Dn4/GVLvtwzC4
			T6YBwHa/bOckHo2Ck/uopzo4fNO++fABGU6xySxNhlOf+2/R/K16
			GMDn/O0fr37gb/5Wk2qCDNDYvIE7PaTGdxewOo3BSfW1ZYG5a5Se
			VXAA6OuBDfumFwyA1vNmGFRSTUHzDq70RYOvt7aM15kwN+aDXuz5
			VdPN5/4ehs6a+Ztst/jarMbq18zfmlmh2qlmhtEywUnCRfdRsfI7
			tR4YSi94VIYkYkOV4dQXCLybSEp7/ubrMAA2k838baEkFBrnX0Xm
			cq5UA7bSweEsnKDDBu2p9MBmaXTfVA2lstns83wahlPcvqqAiw8D
			+HqfcZwsmDMYYSuKDtDQrt8bBktkmCcyXTmMVqrPVWoM7mszXgwx
			Af2qP5AKmEOZRYKkWXTsKUo2APSVPnwfq/O36N6sv8OcoTlwEcza
			UQuO8FwpZ6DFc7V7Jc3YNLZEwgk2bI0kHo2uUiXdoiNDuM/5jBle
			kXZIAHxzDh87MaUb7oViWMNuPI4emSEUt814TxZVrjHP8rPvRmqh
			ed+i+Vu8oSwJh81kX++pmb8h4bqslCM6AAM8VmzgItUIjTULHBYS
			1wvSxKNecICGI0M4n4bDkGzmMwWCT67Pn7e2qXZB7y75Br/nsX1g
			vRausxuS7IxlH5pm7s1qaAqbv1VpFVx0/g0pCnByl0Fgn3/jgLdm
			Pr8AbLoRGys+4wAwi+Uf1tLj0uTvgUZsqGngiK0pcDXQgI3NQmcD
			JMTc+nT0mr98S97k96XtVw3XRZr8q+ot2rDCLNrUqROknDQMeb5O
			hFSpoTdRe5gT4Lpl5/7abfJZku3uhuExrSHJsBq1q8bGPrChj8pU
			09iKgNPYGgLHQ5BXrlXIiI1VoSO4rOrCB9AVbO8qbH7gMa3yqkmz
			GFWiL8mGG/UY3rC1UMYDiGvuzd4j//0uaGnA8HXgshvQ2Y3QdAVu
			k2oCfenRarIVSTggxb4coLEVHlLNJ7KeF2SAphuR2bUJdAlsAJeG
			DgCLpB1+TTXtAAWp1EjDHA43zTF8lgUtwivnAM3pkHg4xeIESJpJ
			tyLw8Gcw1e6SW3XAtQTY6gB3h3zyC/M+QmMtBA4AapCVAA4JiKSr
			YAMkQtNVJ5zuF0eH+ZjvVWQZ6YZFQbS/Fy8WcBP8qjcicGWhmy+J
			iFS7TVbcQIbFgal1gEOyubABXeLBRQM+b4pvPhYEbGWiK4QtD14x
			dEi3dn8gOWvSDcM6kNnNNbzia/UOsZzTAQtSrYKtIDgsGJCE2JcD
			NnsoTU04FzSCM6tRnW66bw+pvC4wtAIb5oZmzqZR5fV1wul+Brxf
			7fd6Q70suNhOig4CxOnWJemg080XPMKspJoAM+AAjQ1Jl5NwGG6R
			wNg6ATY2QmNNJJx81M98gl0j0/3UlAM+IrNrBjpgw/ywgk3G/l62
			PHB8XmNjPwWdgPP3gZZyuOFsWs2pYcyHgI3NxsbrRtIO87Ub5bYc
			kOlWwVYg4TQ2phvB2UmXDg7w1HCq+6nobGi8TgGXic0HOuCrhYfU
			KGf7wh8+85kIDKHYd0MFJGJjJTK71oOOqaahsV8EHPbebGwAl4Uu
			G1yJ6IANw3cl2d6RNxiN0HRlkuVVpptdiW6/9x9Y449Z9ErmcwUG
			m0zacQgAKK7cmgQHeDY2fZ0GD1/XqXaHoEYjNNY8cMCGW1UcRglN
			V51yTLp8cCWgI7Zl8mYaYMTGqrHpfh44Pm+Di5NOhlNsabTrA9iw
			L1g5dYI9tzRsTLoseC50XW9HK1BCYyU01kxwxyOgmJfl/ZQljQ6/
			PvGozOE4l2sEXMZ8DtiwEjbYAExWNSbZiE1XjY19osqrDnQCzt8H
			WvyxxYo0gQ23yzChn7YlQpcHT6ebqz9Hvtk3yWlkALtdkgmN2FAJ
			jTUVnGBDsgESsGGRwHusOt3Y1+DQTzyc4BpBx/mbqk5sAMemsbFP
			aHbNA8fnNbz3zafi/VFp/pVwsBKpW0023DaToRRDlcYGcI2gQ8ox
			1QiNtW5wsu3hwlYPuuLgmkQHbLM2xMkGYP9R0AgOldB0tbHxmqjy
			KtC96/0H1jTHLfp5d2Y1auZsvD8r2CSJDS4XuDx0HGJRmWoAho1c
			NGJDrQcc9tjw+5FcOtmILSvl8HuYdElw2OzVw6ndX+devWatXJ3Y
			AI5Ng0tDB4CEpmsetvj5tpm/TZgjW51//iD95Akm9ZdvjhIO6OqF
			hyF1gfx33yofyNbYGgUHbIvlHwSxARxufWls7HModVX3kPrC0aAj
			C1294J5VyQZg8mGNCjSCQ7XRpcHT2HQ/B56A8/lD++pNN9ymwsla
			QDMnX0yq8XQK000q9txsbPWgY6otljQCOFSmW0Pgjsrvl4WMxgZw
			aSmXlXQ9w8cSARdM7z8SgfOBzoUN4NLQueDpoVX3NTb2s9HhZjt+
			YEvZDbjwOQd8bBKLASDDeT4zVFaGT2Jj/ThKPAyFaeDSkg7DrE41
			YmsaXIyNx5QITVcmm11dCdc9ciQHXDPoNDYic1WdcuyXk3bfX7Ev
			bEUzuHDwAHMxadGCgLDSqqQbbl9d+lo2OJ12BMhUA7Bb5HVQ2RpO
			uBgbcOG4kkZm921svE6gc4Hr6P+kmnBZ4LIWETY22fvpRXOBS0u7
			ctAlT6DoVSz73CjOq9XjTvroUxWY/XwGNuy5IdnsRmCuqlMN0NiI
			DbURcLhvimFUn4vLQld4PjfycTLhOl7YWwsuC51jPofFw/yN8WqU
			0Ozqgsd0s6sNTw+rus9hVdfsIbYWH7HpmgeOz9uwsq5T0GH7gumW
			hY7DLVLtBnktILtZYWs24bD/hhMjNrYscEi8Iuh6RvY6wPUPJsEV
			RIeb98DW+1acaKjsF0E3ldMO+LKg6ecsdNhzS8Nm47t6pwxv8mcB
			2c1yn9U0T+CIbcGAG1weOg6ldq0MrSODDnDrN9YHLh5amWy9ozEy
			YmO1wfG63dJOJ5zuM83yqoaV1xd4mOcBFcBlocOQOkvSH3cLKtA8
			gtPYAK4cdBsd4PrXusFlpFwutjLR1bN90m5DrIDDwcefbaqCs+Hh
			upJqAgzDaAJdkwmH21k4OInTvsTG6hpas5IubWhF6vUMr3OBWxN0
			9MvmLoC5GhJNtcLYiA6V6aarK+nacYhF6uWlHJ/PSjiBc4cMpS5s
			Gh1SjchQ2a9JuSbBpWHzja57eI0D3IsrInAF0NVgw1CaNpxqbOxr
			bLrvgmcvJHjdigWFHlZ1n6jyqhudWcli/ywNHFNNI9N9X+CAbZ4s
			WFzplgeu3qTrGV6RBDf9xbur4NLQScLVYAMigmMlrLyqsbHvQteO
			aZeHTT9vwcP/6cXGhmvM55hqBMZU47WvIRVn7YgN4BpBZ+/J6evE
			4mHkbhe4zlxwVwi4nlcdyIiNNQ8bnyc0u7rgMd3sOoXS7j7ZzsGw
			CWBseq4GWD0CFE0j0/1mE86FrWx0PSOdSXDXbLi4Flx/7VyuMLZ6
			0QGfDQ7XrUKH/buiiwo9tLKv0yyrL4hw+4rQmGpzBCGR6aqR6X4j
			4HgjH9jmyg1+ArMrh1JXbWYRcePwxUlw3VvPkvup4050FWyy6djL
			Rlh5lWmWV4uia8chFvhysGHPTWPjXA3IuuXGvsaGvkam+/WCIzbc
			PgM2DKX2cKrhubDxaw2hGx6X/76zkuDwlY71svmLZFPNia2V6FqZ
			dkWTDr+OCadrCjrsuXEoxVwNqQZkupUBDtgWy0rWxtYoujRwWYuI
			64Ydm77kN71/VQ02/C8jzZyNwFw1L+H083kpx+encto50OHIONKN
			qaahsV8GuFtjbLNlKCcyu+p0032mml3T0OlFg+4vGl5FXsk6ff3M
			CrhC2DRADSurT1R5tVl0WFy0wYICe2461XB7Co3QWH2CM8eUBBtW
			xMCmh9JmwQFgPei6h2cmofErMzacI/9f+ZNm4zc32TQ29rOg6efy
			sPF5F7pmh1gg1Df/2dc3/3W/6DCrh9a4j6EUnyvokkporITG6gsc
			sGGeh51/YgO4yUC3aOfJoHvXOeTlrh39L+cPowSWVjWurD5h5VUX
			PNcqttkFBfBpbOw3gA7Hjm6I04zIdCU0Vh/ggA17dTiqDmxzYmgE
			13J0O192I9Nfvf71nupKNA1Uka9nQdPP5WHj8y50rUy7guiQajjm
			g88WINlc6QZ4hMbaLDicgSO2WXInA9jYNLhWouse7tG03P3H9n4r
			6Bsd84MOMDWurD5h5VUXvDLSjulm1wx4SDVg0thaAQ7Y8HNCcCAA
			2JBuTDhXyvlElzafWzQ0Ftwmlgo9ekdX+gPXKnT1pJ29mEib1xUc
			YnWq2djKBgdsGLqxGNDY8tDZiwde65Wq7turVX3tQrdwaGUha+YX
			9b19oSTTyfZGhyQsmnb27TBeF4VnpxyvJe3waSsgY+Mwqqueu7HP
			oZS1kSGV2JBiLmyThW7h0ElZIV9YHBx+Zd/oar/gOO/LGlb1c3lD
			K58vis7zggL3Rc2Ji0kChyPlSDZiKwLONbwy2eyq0033dbLZfSbd
			wqHV9WHDr37snfME3LGpi66eIbbOPTuk2jzVmG6u4bSUIVWwATsS
			DNB0Y6rZFdhc4HzO5wBw4dCxoHvkvPrB4Xf0jS4pB1w98zqkHtMs
			r5acdkw13JqaNHAZ2AjPxsbrNHR2uulrnW66b6cbrxcO3dUYNvyu
			NeGZQd+bm8pDVw+8PGx83oXOQ9phqwPQbGyA16qEw4Yukg2wZmyp
			TTZiYyUyu9aLTiOz+0TG2jW4yZhpXJz8zuV7LpKkO/LVRZczt0Oq
			ARWxTRY4YgM0NuJyVRsarwnONbzqZNN9GxqvCQ21a+BI0DNyUVPW
			Kr+5d3SaoJsoF12r0q7gnh1+jp1JE5nf4STuZIIDNtwiIzRdXdj4
			NSKzq3d0gxMCblrFi5fOQ7vuKR9cq9DlDLG44Q5gNjSi0/O3sodU
			nIVLw0Z4BOaqNjZeE519F6KRRUTX4D1ejCVepG90eXuh87ygwM8d
			Tks1YkNtJThg63zdnW4Eh+rCxq8RmV3T0Onh1O5zOK3UgeUJJ96+
			EIZnBA+NPtIadC1OO6QaEk03jUz3WwUOByeLYMsDB3g2Nl7Xi64C
			zXyW9dcBTJT+wPDakjldGeiwmsWQGjekmhmyZG6nsaUNp61KOGIr
			Ci4PHYHZleBQ7eHVTjdezx+QOduOkobRNL3RQqLk1SvAsem7EFl9
			bo/kVQGHzxnMEGhs7QIOP7AG0Nj00JnX5zDqqjY2XteDbv72I/4X
			CGnI7K+bLZOy9+kIDjULmn4uBxtTrbMNweEsG6HpmgdNP+/Cxq8R
			mV2Jzk652kXEpmC+r60PG1PR62hz+E5JopJug2lw9aADQAsetjqQ
			aoBmY0PKTXbCpWEjPI0qr09grmpj43Uaunk7jgfzdtzZ/KZuUVRF
			fh3uveKGf9/oeHUYtLH4vNaJltWP0XFR4ILWDkMqzrJ1ygdtiCut
			5kHTz7uw8WtEZtdadOPB3O1/kJ/z+50iBCbn1yzf/QMZ+lYKPI+H
			ONOgZkGLn8PwiQ8AM9XaCRyOJOF4Ej7VVQQbEWpUWX3iclUbGq8j
			cGMCbWX9R4wmh1z0p5qTw292C7xX/J+tswGmwEOqaWjsM9Hs2uoh
			FWfj6sUGdFnI7Odc2Pg1IkOds+2ktFeCOW90B/O3FzypO5nAsv7s
			J3afK/BmCbxVUgellTDsKnR6UUBkutrQeN1KcDi21Ai2elMOAAms
			to7L1wcF2apg9vZZwYJt52Z9C6f2c48cODvo231J0LerU/Atlfa4
			tKdk7tcvFYk4IHWPXB+U0yqHolZwiE5LtXYDh5/ta4bRAvM2IrNr
			Nc3GgplbD5k2Y8vBYOaWPcGMrQOShK9I7ZfrpwTX48HsbUuDuW90
			BnN3XBLMGTh7aiM6/bc//Q6cfgdOvwPt9g78H6A6YYVm/yyxAAAA
			AElFTkSuQmCC
			</data>
			<key>iTunesMetadata</key>
			<data>
			YnBsaXN0MDDfEBYBAgMEBQYHCAkKCwwNDg8QERITFBUWFxcXGhsc
			HRcfICEXIyQlJjIzNDU2N18QEGlzLWF1dG8tZG93bmxvYWRfEBBs
			YXVuY2hQcm9oaWJpdGVkXxAXaXMtcHVyY2hhc2VkLXJlZG93bmxv
			YWRbc3RvcmVDb2hvcnRWaXRlbUlkXxAXc29mdHdhcmVWZXJzaW9u
			QnVuZGxlSWRRc18QEWdhbWVDZW50ZXJFbmFibGVkVGtpbmRaYXJ0
			aXN0TmFtZVdnZW5yZUlkXxAUaGFzTWVzc2FnZXNFeHRlbnNpb25b
			ZG93bmxvYWQtaWRfEB1iZXRhRXh0ZXJuYWxWZXJzaW9uSWRlbnRp
			Zmllcl1idW5kbGVWZXJzaW9uXxAiY29tLmFwcGxlLmlUdW5lc1N0
			b3JlLmRvd25sb2FkSW5mb1hpdGVtTmFtZVl2YXJpYW50SURfECFz
			b2Z0d2FyZVZlcnNpb25FeHRlcm5hbElkZW50aWZpZXJZc291cmNl
			QXBwVWdlbnJlVnJhdGluZwgICF8QTjd8ZGF0ZT0xNDk4NjAwODAw
			MDAwJnNmPTE0MzQ0MSZwZ3RwPVNlYXJjaCZwcnBnPVNlYXJjaCZj
			dHh0PVRyYW5zaWVudCZpc3NyY2g9MRJFw7BwWmNvbS5kamkuZ28S
			AAIwUQhYc29mdHdhcmVTREpJERd4CFRudWxsEABUMzExMNInKCkq
			XHB1cmNoYXNlRGF0ZVthY2NvdW50SW5mb18QFDIwMTctMDYtMjdU
			MjI6Mjk6MjVa1SssLS4vMDEkJDFXQXBwbGVJRFpEU1BlcnNvbklE
			XERvd25sb2FkZXJJRFhGYW1pbHlJRFtQdXJjaGFzZXJJRF8QGWRy
			b25lZm9yZW5zaWNzQHZ0b2luYy5jb20TAAAAAqMOcpBYREpJIEdP
			IDRXaVBhZDUsMRIxRGuUXxASY29tLmFwcGxlLkFwcFN0b3JlXVBo
			b3RvICYgVmlkZW/SODk6O1VsYWJlbFRyYW5rUjQrEGQACAA3AEoA
			XQB3AIMAigCkAKYAugC/AMoA0gDpAPUBFQEjAUgBUQFbAX8BiQGP
			AZYBlwGYAZkB6gHvAfoB/wIAAgkCDQIQAhECFgIYAh0CIgIvAjsC
			UgJdAmUCcAJ9AoYCkgKuArcCwALIAs0C4gLwAvUC+wMAAwMAAAAA
			AAACAQAAAAAAAAA8AAAAAAAAAAAAAAAAAAADBQ==
			</data>
		</dict>
	</dict>
	<key>Build Version</key>
	<string>14F89</string>
	<key>Device Name</key>
	<string>Drone’s iPad</string>
	<key>Display Name</key>
	<string>Drone’s iPad</string>
	<key>GUID</key>
	<string>75AC605B023C82433179827F9AF90DC1</string>
	<key>Installed Applications</key>
	<array>
		<string>com.dji.go</string>
	</array>
	<key>Last Backup Date</key>
	<date>2018-04-24T20:42:00Z</date>
	<key>Product Name</key>
	<string>iPad mini 4</string>
	<key>Product Type</key>
	<string>iPad5,1</string>
	<key>Product Version</key>
	<string>10.3.2</string>
	<key>Serial Number</key>
	<string>FNWV3039GHK9</string>
	<key>Target Identifier</key>
	<string>e043b482e7141db9ed60da2896a0dd14ec9a96d0</string>
	<key>Target Type</key>
	<string>Device</string>
	<key>Unique Identifier</key>
	<string>E043B482E7141DB9ED60DA2896A0DD14EC9A96D0</string>
	<key>iTunes Files</key>
	<dict>
		<key>IC-Info.sidv</key>
		<data>
		AAEAAR7l7wQXQoTpBprKxj/ANXeLTj+UrjHExQ0ZTA14btQ3I6IDw0DgxkOV
		dII/mzONSFM0sTrpa+pEaTptFxD0dUQOkuxbw2fPe4GfBuR3HGnaxbqqY6kd
		6wFBo/7tz1u0d3ioqX8/bEVwVVyVBI+32a4IE/lJYU+ceHAmPP5C6l1dslLg
		OHMlV+iGeypyH26sN2MFhkbcbLHGZ8Lsf26QiKx6i6YVxMqupStFjpbRwtbo
		F2SOXOeBxc69chWRqyIIWo5qvORVPK7rA2RYdPqUwlqPE2JzaPm1YeGMGDRn
		rMSR8ebsHfZwsgpe6x3BEe5E/7vvAu4FP3gXZD3MolXlzcw18XaaVH3xP4lF
		xd8sXSB8xa9WCmnD/dtJKZVr2VMisfFmgXaYtqg2x+vlKUFeiZ3gxtiEjg8n
		Y7ApfIlHM/D8aaqFNWq7NLJbzf//Fry1cQGgLiNK5NhYBr52Hk2lOYjoXrp+
		tsq9JF8DkkQ3tugLgKgYL8AaxGFgyObBH1BBe2uk0JsNMGDc1VU/q7zU+dqX
		s3gV2DPNW7YtMFRJqOUDP7ywfJLkoEAQA9GmRvZ6NaVPL2c98QWVXc+t2vsD
		IkLXOvgGpnX4HJDvI8rvFLr3MdSMlvNpJm951EXvUfdNgxlxaHe04Xs9u5bI
		8Ps99pQ0zHUUnQL5iNKQhHkoRf2pC61q4lCOAyyZuU3a4gDIkWMTuoeoYrTQ
		tWgPohebj3XIW6tkqeQc/P9ZFGq4Y4z+jMqqG1MdVJUKRs4iwckL5fqlqDnR
		j1E/c3LgrmTHlNpfzjL+CyW3s/0RsH/QI2t+4C0TOSnnLUn5Iu7R3zG+It0H
		/MDVgN6BBAjwJJL4TnARFgCp6K8JGfSwhtkIBLbzThmevQfyPkX4/pbJLZj/
		Zxc57EQ5XWCit0jLuYUbNxdBHJ5IQYTzlgnNpOBsndQpDLfvYvhr3UEfb/3I
		ihCV0SeJnV24E815tJ49otp4SaXbvl0bCQ6YY7NS4bO90sl/POfgeDctGZRG
		50k4Z6/cVDDFWAOdGEJWZTY3a5YKALMJl3gFJ+4CCe+vUrGl9yPjD5Ph2nml
		5h2ioTfFKtr5M5Ls4Pf/GIOolKZBlPIX2xG5lt8/xwkVsbrVC8Q2X5truWw0
		3GO38h3QdT0WJfbkv2CmqCWYPXSDnthje9jOb2+tSvKvsIgMGrFsySBja+61
		Dl34f01L1mEhXt8xabXVXNlAppFPbWUmtYQboQFvzlMFmZL2NJUrUDGL4US/
		5OXTNTvq264iTFrlVfLKUdNd1qxOpwYaomOEUYCpLa6mluuvjPxTMqblc33K
		XLKKejuFvrZ1qneUwYGeAMD+Hd/7YvCy9J7IQk0GOO4qzkmy1huCa2knhQ5x
		AX/LGR3w46XSIV5nwbPPom17ljEBQ5t2mYYRlbSKsZhl4oODUDa4qqlEY2Rl
		IaWPWN8BqwaFpuVT/w8hkWZu/ZlDXsd2vvV5adKSjgnG/pkoBP7Pv40ohb7g
		my2PLiuObmCRwTNvqXoq
		</data>
		<key>VoiceMemos.plist</key>
		<data>
		PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NU
		WVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUvL0RURCBQTElTVCAxLjAvL0VO
		IiAiaHR0cDovL3d3dy5hcHBsZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4w
		LmR0ZCI+CjxwbGlzdCB2ZXJzaW9uPSIxLjAiPgo8ZGljdC8+CjwvcGxpc3Q+
		Cg==
		</data>
		<key>iTunesPrefs</key>
		<data>
		ZnJwZAEAGAABAQABms1SFeOX/JHwNB9/2ukZ6AAAAAAAAAABAAAAAAAAAAAA
		AAAAAQAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAACCPOU/hzq0IwAB
		AAQAAAAAms1SFeOX/JECAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAABAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAgAAAAEBAAAAAAAAAAAAAAEAAQABAAEAAAAA
		AAAAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAMhB3iDYENOAjf9bEPxnZ697
		5YFcAAAAAAAAAAAAAAAAAAAAAP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAEBAAQAAAAABwAAAAAAAQABAAAAAAEBgAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZHJhdGhib25lAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFNZ
		U1RFTS0wMDEwLURFTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZHJhdGhib25l
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAFNZU1RFTS0wMDEwLURFTAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAABkcmF0aGJvbmUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAU1lTVEVNLTAwMTAtREVMAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAA=
		</data>
		<key>iTunesPrefs.plist</key>
		<data>
		PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NU
		WVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUvL0RURCBQTElTVCAxLjAvL0VO
		IiAiaHR0cDovL3d3dy5hcHBsZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4w
		LmR0ZCI+CjxwbGlzdCB2ZXJzaW9uPSIxLjAiPgo8ZGljdD4KCTxrZXk+QXBw
		bGljYXRpb25JRHM8L2tleT4KCTxhcnJheS8+Cgk8a2V5PkF1ZGlvYm9va1Bs
		YXlsaXN0SURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5BdWRpb2Jvb2tUcmFj
		a0lEczwva2V5PgoJPGFycmF5Lz4KCTxrZXk+Qm9va1RyYWNrSURzPC9rZXk+
		Cgk8YXJyYXkvPgoJPGtleT5MaWJyYXJ5Qm9va1RyYWNrSURzPC9rZXk+Cgk8
		YXJyYXkvPgoJPGtleT5Nb3ZpZVBsYXlsaXN0SURzPC9rZXk+Cgk8YXJyYXkv
		PgoJPGtleT5Nb3ZpZVRyYWNrSURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5N
		dXNpY0FsYnVtSURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5NdXNpY0FydGlz
		dElEczwva2V5PgoJPGFycmF5Lz4KCTxrZXk+TXVzaWNHZW5yZU5hbWVzPC9r
		ZXk+Cgk8YXJyYXkvPgoJPGtleT5NdXNpY1BsYXlsaXN0SURzPC9rZXk+Cgk8
		YXJyYXkvPgoJPGtleT5NdXNpY1RyYWNrSURzPC9rZXk+Cgk8YXJyYXkvPgoJ
		PGtleT5Qb2RjYXN0Q2hhbm5lbElEczwva2V5PgoJPGFycmF5Lz4KCTxrZXk+
		UG9kY2FzdFBsYXlsaXN0SURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5Qb2Rj
		YXN0VHJhY2tJRHM8L2tleT4KCTxhcnJheS8+Cgk8a2V5PlJpbmd0b25lVHJh
		Y2tJRHM8L2tleT4KCTxhcnJheS8+Cgk8a2V5PlRWU2hvd0FsYnVtSURzPC9r
		ZXk+Cgk8YXJyYXkvPgoJPGtleT5UVlNob3dOYW1lczwva2V5PgoJPGFycmF5
		Lz4KCTxrZXk+VFZTaG93UGxheWxpc3RJRHM8L2tleT4KCTxhcnJheS8+Cgk8
		a2V5PlRWU2hvd1RyYWNrSURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5pUG9k
		UHJlZnM8L2tleT4KCTxkYXRhPgoJWm5Kd1pBRUFHQUFCQVFBQm1zMVNGZU9Y
		L0pId05COS8ydWtaNkFBQUFBQUFBQUFCQUFBQUFBQUFBQUFBQUFBQUFRQUEK
		CUFBQUNBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQVFBQUFBQ0NQT1Uv
		aHpxMEl3QUJBQVFBQUFBQW1zMVNGZU9YCgkvSkVDQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFCQUFBQUFBQUFBQUFCQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQQoJQWdBQUFBRUJBQUFBQUFBQUFBQUFBQUVBQVFBQkFBRUFBQUFBQUFB
		QUFBQUFBQUlBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCUFBQUFBTWhCM2lEWUVO
		T0FqZjliRVB4blo2OTc1WUZjQUFBQUFBQUFBQUFBQUFBQUFBQUFBUDhBQUFB
		QUFBQUFBQUFBCglBQUFBQUFBQUFBQUFBQUFBQUFBQUFBRUJBQVFBQUFBQUJ3
		QUFBQUFBQVFBQkFBQUFBQUVCZ0FBQUFBQUFBQUFBQUFBQQoJQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUEKCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQVpISmhkR2hpYjI1bEFBQUFBQUFBQUFBQUFBQUFBQUFBCglBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUZOWlUxUkZUUzB3TURFdwoJTFVSRlRBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
		CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCglBQUFBQUFBQUFBQUFBQUFBQUFB
		QVpISmhkR2hpYjI1bEFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQQoJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUZO
		WlUxUkZUUzB3TURFd0xVUkZUQUFBQUFBQUFBQUEKCUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBCglBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUEKCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCglBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQQoJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
		CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCglBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQQoJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUJrY21GMGFHSnZibVVBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFVMWxUVkVWTkxUQXdNVEF0UkVW
		TUFBQUFBQUFBCglBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJQUFBQUFBQUFB
		QUE9Cgk8L2RhdGE+Cgk8a2V5PmlUdW5lc1VDaGFubmVsSURzPC9rZXk+Cgk8
		YXJyYXkvPgoJPGtleT5pVHVuZXNVUGxheWxpc3RJRHM8L2tleT4KCTxhcnJh
		eS8+Cgk8a2V5PmlUdW5lc1VUcmFja0lEczwva2V5PgoJPGFycmF5Lz4KCTxr
		ZXk+aVR1bmVzVmVyc2lvbjwva2V5PgoJPHN0cmluZz4xMi42LjE8L3N0cmlu
		Zz4KPC9kaWN0Pgo8L3BsaXN0Pgo=
		</data>
	</dict>
	<key>iTunes Settings</key>
	<dict/>
	<key>iTunes Version</key>
	<string>12.6.1.25</string>
</dict>
</plist>
